    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/main2.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/print.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/darktheme.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/googleApi.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/contentpane.css' %}">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>


    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">


    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}" />

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.png' %}" />

    <style>
      .lazyload-image .not-found-img img[data-src] {
        padding-top: calc(499px / 556 * 100);
      }
    </style>