{% load static %}

        <![endif]-->
        <!-- BEGIN CORE PLUGINS -->
        <script src="{% static 'assets/global/plugins/jquery.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/system/toaster.js' %}" rel="stylesheet"></script>
        <script src="{% static 'js/system/notification/lobibox.min.js' %}" rel="stylesheet"></script>
        <script src="{% static 'js/system/notification/notification-custom-script.js' %}" rel="stylesheet"></script>
        <script src="{% static 'js/system/notification/notifications.min.js' %}" rel="stylesheet"></script>


<script type="text/javascript">
    function updateCat(event, id){
        event.preventDefault();
        var actionEndpoint = '/cart/details/update/'
        {#var actionEndpoint = '{% url 'cart:update' %}'#}
        var httpMethod = 'POST'
        var data = {
          product_id: id
        }

        {#var point= '{% url 'cart:update' product_id %}'#}
        $.ajax({
            url: actionEndpoint,
            method: httpMethod,
            dataType: 'JSON',
            data: data,
            success: function(data){
               if (data.message){
                   {#success_noti(data.message)#}
                    Lobibox.notify('info', {
                        pauseDelayOnHover: true,
                        continueDelayOnInactiveTab: false,
                        position: 'top center',
                        icon: 'bx bx-check-circle',
                        width: 600,
                        showClass: 'rollIn',
                        hideClass: 'rollOut',
                        img: data.image,
                        msg: data.message
                    });

                }
                var navbarCount = $(".total-mini-cart-item")
                   navbarCount.text(data.update)
            },
            error: function(error){
                if (data.user != 'Authenticated'){
                    Lobibox.notify('error', {
                        pauseDelayOnHover: true,
                        icon: 'bx bx-x-circle',
                        size: 'mini',
                        continueDelayOnInactiveTab: false,
                        position: 'top left',
                        msg: "Please login to continue shopping"
                    });
                    window.location.href = '/login/';
                }
            }
        })
    }

    $(document).ready(function (){
        $.ajax({
            url: '/home/',
            method: 'get',
            dataType: 'json',
            beforeSend: function (){
                $("#ajaxnewarival").html("Fetching data...")
            },
            success: function (response){
                 console.log(response)
                $("#ajaxnewarival").html(response.data)


            },
            error: function (error){
                console.log(error)
            }
        })
    });

</script>
<script src="{% static 'jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/patazonejs/verticalmenu.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/patazonejs/ajaxsuite.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/patazonejs/ajaxsuite-popup.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/patazonejs/bindings.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/patazonejs/block-loader.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/patazonejs/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/patazonejs/collapsible.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/patazonejs/core.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/patazonejs/custommenu.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/patazonejs/domReady.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/patazonejs/dropdown.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/patazonejs/dropdowns.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/patazonejs/intlTelInput.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/patazonejs/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/patazonejs/jquery.lazyload.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/patazonejs/jquery.marquee.min.js.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/patazonejs/jquery.metadata.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/patazonejs/jquery.mobile.custom.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/patazonejs/jquery.parsequery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/patazonejs/jquery.validate.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/patazonejs/jquery-migrate.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/patazonejs/jquery-ui.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/patazonejs/verticalmenu.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/patazonejs/jquery_choose.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/patazonejs/jquery_sameminheight.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/patazonejs/knockout.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/patazonejs/knockout-es5.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/patazonejs/knockout-fast-foreach.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/patazonejs/knockout-repeat.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/patazonejs/layout.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/patazonejs/levels-pool.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/patazonejs/loader.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/patazonejs/local.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/patazonejs/mage.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/patazonejs/mage-init.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/patazonejs/mage-translation-dictionary.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/patazonejs/main.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/patazonejs/matchMedia.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/patazonejs/message-pool.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/patazonejs/messageList.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/patazonejs/messages.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/patazonejs/misc.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/patazonejs/modal.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/patazonejs/moment.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/patazonejs/nivoSlider.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/patazonejs/objects.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/patazonejs/owl_carousel.min.js' %}" type="text/javascript"></script>


<script  crossorigin="anonymous">
    var BASE_URL = 'https\u003A\u002F\u002Fmageblueskytech.com\u002Fdukamarket\u002Fen3\u002F';
    var require = {
        'baseUrl': 'https\u003A\u002F\u002Fmageblueskytech.com\u002Fdukamarket\u002Fstatic\u002Fversion1620877543\u002Ffrontend\u002Fbluesky\u002Fbluesky_dukamarket_digital_03\u002Fen_US'
    };</script>
    <script type="text/javascript" crossorigin="anonymous" src="{% static 'js/catchejs/cache.min.js' %}"></script>


    <script>
      window.cookiesConfig = window.cookiesConfig || {};
      window.cookiesConfig.secure = true;
    </script>
    <script>
      require(["jquery"], function ($) {
        function setCookie(name, value, days) {
          if (days) {
            var date = new Date();
            date.setTime(date.getTime() + days * 24 * 60 * 60 * 1000);
            var expires = "; expires=" + date.toGMTString();
          } else var expires = "";
          document.cookie = name + "=" + value + expires + "; path=/";
        }

        function getCookie(name) {
          var nameEQ = name + "=";
          var ca = document.cookie.split(";");
          for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == " ") c = c.substring(1, c.length);
            if (c.indexOf(nameEQ) == 0)
              return c.substring(nameEQ.length, c.length);
          }
          return null;
        }
        $(document).ready(function () {
          if ($("body").hasClass("cms-index-index")) {
            if (getCookie("shownewsletter") != 1) {
              var height_window = $(window).height();
              var height_pupup = 600;
              var fixed_height = (height_window - height_pupup) / 2;
              var pPopup = $("#newsletter_pop_up").bPopup({
                position: ["auto", fixed_height],
                speed: 500,
                transition: "slideDown",
                onClose: function () {},
              });
              $(".newletter_popup_close").on("click", function () {
                pPopup.close();
              });
            }

            $("#newsletter_pop_up form").submit(function (event) {
              setCookie("shownewsletter", "1", 1);
            });

            $("#newsletter_popup_dont_show_again").on("change", function () {
              if (getCookie("shownewsletter") != 1) {
                setCookie("shownewsletter", "1", 1);
              } else {
                setCookie("shownewsletter", "0", 1);
              }
            });
          }
        });
      });
    </script>
<script>
    require([
        'jquery',
        'static/js/patazonejs/verticalmenu.min.js'
    ], function ($) {
        $(".verticalmenu").VerticalMenu();
    $('.title-category-dropdown').click(function(event){
      $('.navigation.verticalmenu .togge-menu').slideToggle('slow');
      $(this).toggleClass('active');

    });
    $( document ).ready(function() {
      var lenghtLi = $('.navigation.verticalmenu .ui-menu-item.level0').length;
      var limitItemShow = 13;
      if(lenghtLi > limitItemShow)
      {
        $('.navigation.verticalmenu .ui-menu-item.level0').each(function( index ) {
          if(index > (limitItemShow - 1))
          {
            $(this).addClass('orther-link');
            $(this).hide();
          }
        });
        $('.navigation.verticalmenu .expand-category-link').show();
        $('.navigation.verticalmenu .expand-category-link').on( "click", function() {
          $(this).toggleClass('expanding');
          $('.navigation.verticalmenu .ui-menu-item.level0.orther-link').slideToggle('slow');
        });
      }else{
        $('.expand-category-link').hide();
      }
      var screenWidth = $(window).width();

      if (screenWidth < 1200){
        var verticalmenu = $(".verticalmenu .verticalmenu-html").html();
        $(".custommenu").append(verticalmenu);
        var html_title = '<a data-menu="verticalmenu-list" href="#">Categories</a>';
        $(".custommenu .menu-mobile-title").append(html_title);
      }
    });
    $(".title-category-dropdown").click(function(e){
            if(!$("html").hasClass("vertical-open")) {
                $("html").addClass("vertical-before-open");
                setTimeout(function(){
                    $("html").addClass("vertical-open");
          $( 'body' ).toggleClass( 'background_shadow' );
                });
            }
            else {
                $("html").removeClass("vertical-open");
        $( 'body' ).toggleClass( 'background_shadow' );
                setTimeout(function(){
                    $("html").removeClass("vertical-before-open");
                });
            }
        });
    $("#close-vertical").click(function(e){
            if(!$("html").hasClass("vertical-open")) {
                $("html").addClass("vertical-before-open");
                setTimeout(function(){
                    $("html").addClass("vertical-open");
                });
            }
            else {
                $("html").removeClass("vertical-open");
        $("html").removeClass("vertical-before-open");
                setTimeout(function(){
                    $("html").removeClass("vertical-before-open");
                });
            }
        });
    $(document).on('click', '#focus-area', function(){
      $('body').removeClass( 'background_shadow' );
      $("html").removeClass("vertical-open");
      $("html").removeClass("vertical-before-open");
      setTimeout(function(){
        $("html").removeClass("vertical-before-open");
      });
      $('.title-category-dropdown').removeClass('active');
      $('.navigation.verticalmenu .togge-menu').slideToggle('slow');
      return false;
    });
    });
</script>
    <script>
      require(["jquery", "static/js/patazonejs/custommenu.min.js"], function ($) {
        $(".custommenu").CustomMenu();
        $(document).ready(function () {
          $(document).on(
            "click",
            ".custommenu .menu-mobile-title a",
            function () {
              var data = $(this).data("menu");
              $(".custommenu .menu-mobile-title a").removeClass("active");
              $(this).addClass("active");
              $(".custommenu ul.menu").hide();
              $(this)
                .closest(".custommenu")
                .find("ul.menu." + data + "")
                .show();
              return false;
            }
          );
        });
      });
    </script>
    <script>
      require(["jquery", "rokanthemes/choose"], function ($) {
        "use strict";
        $("#choose_category").chosen();
      });
    </script>
    <script>
      require(["jquery"], function ($) {
        "use strict";
        $(document).ready(function () {
          $(".block-search .dropdown-toggle > .top-search").click(function (
            event
          ) {
            $(".block-search #search_mini_form").slideToggle();
            $("#search-input-autocomplate").focus();
          });
        });
      });
    </script>

    <script>
      require(["jquery", "static/js/patazonejs/nivoSlider.min.js"], function ($, nivoSlider) {
        "use strict";
        $(document).ready(function () {
          $("#rokanthemes-slidebanner-4 .nivoSlider").nivoSlider({
            effect: "random",
            slices: 15,
            boxCols: 8,
            boxRows: 4,
            animSpeed: 500,
            pauseTime: 4000,
            startSlide: 1,
            directionNav: false,
            controlNav: true,
            controlNavThumbs: false,
            pauseOnHover: false,
            manualAdvance: false,
            prevText: "Prev",
            nextText: "Next",
            randomStart: false,
            beforeChange: function () {},
            afterChange: function () {},
            slideshowEnd: function () {},
            lastSlide: function () {},
            afterLoad: function () {
              $(
                "#rokanthemes-slidebanner-4 .nivoSlider-loading-page-still-unsuc"
              ).css("display", "none");
            },
          });
        });
      });
    </script>
    <script>
      require([
        "jquery",
        "static/js/patazonejs/mage.min.js",
        "static/js/patazonejs/timecircles.min.js",
        "static/js/patazonejs/owl_carousel.min.js",
      ], function ($) {
        "use strict";
        $(document).ready(function () {
          if ($(".super-deal-countdown").length > 0) {
            $(".super-deal-countdown").TimeCircles({
              fg_width: 0.01,
              bg_width: 1.2,
              text_size: 0.07,
              circle_bg_color: "#ffffff",
              time: {
                Days: {
                  show: true,
                  text: "Days",
                  color: "#f9bc02",
                },
                Hours: {
                  show: true,
                  text: "Hours",
                  color: "#f9bc02",
                },
                Minutes: {
                  show: true,
                  text: "Mins",
                  color: "#f9bc02",
                },
                Seconds: {
                  show: true,
                  text: "Secs",
                  color: "#f9bc02",
                },
              },
            });
          }
        });
      });
    </script>

    <script>
      require([
        "jquery",
        "static/js/patazonejs/tabs.min.js",
        "static/js/patazonejs/owl_carousel.min.js",
      ], function ($) {
        $("#category_product_tab_843580351 .widget-tabs").tabs({
          cache: false,
          activate: function (event, ui) {
            $(window).trigger("resize");
          },


        });
      });
    </script>
    <script>
      require(["jquery"], function ($) {
        require(["rokanthemes/lazyloadimg"], function (lazy) {
          $("img[data-src]").lazy({
            bind: "event",
            attribute: "data-src",
            visibleOnly: true,
            threshold: 0,
            enableThrottle: true,
            throttle: 500,
            afterLoad: function (element) {
              $(element).addClass("lazy-loaded");
              $(element)
                .closest(".absolute-content-image")
                .removeClass("lazyload-content");
              setTimeout(function () {
                $(element).addClass("transition");
              }, 1000);
            },
          });
          $(document).ready(function ($) {
            var win = $(window);
            $(".owl-carousel").on("translated.owl.carousel", function (event) {
              var bounds = $(this).offset();
              var viewport = {
                top: win.scrollTop(),
                left: win.scrollLeft(),
              };
              viewport.bottom = viewport.top + win.height();
              if (viewport.bottom > bounds.top) {
                $(this)
                  .find("img[data-src]")
                  .lazy({
                    bind: "event",
                    delay: 0,
                    afterLoad: function (element) {
                      $(element).addClass("lazy-loaded");
                      $(element)
                        .closest(".absolute-content-image")
                        .removeClass("lazyload-content");
                      setTimeout(function () {
                        $(element).addClass("transition");
                      }, 1000);
                    },
                  });
              }
            });
            setTimeout(function () {
              $("img[data-src]").each(function () {
                if ($(this).is(":hidden")) {
                  var new_url = $(this).attr("data-src");
                  $(this).attr("src", new_url);
                  $(this).removeAttr("data-src");
                  $(this).addClass("lazy-loaded");
                  $(this)
                    .closest(".absolute-content-image")
                    .removeClass("lazyload-content");
                  setTimeout(function () {
                    $(this).addClass("transition");
                  }, 1000);
                }
              });
            }, 1000);
          });
        });
      });
    </script>

<!-- Stripe JS -->
{#<script src="https://js.stripe.com/v3/"></script>#}
{##}
{##}
{#<!-- jquery-confirm JS -->#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>#}
{##}
{#<!-- js Render -->#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/0.9.88/jsrender.min.js"></script>#}
{#{% include 'managestatic/js_template.html' %}#}
{##}
{##}
{#<!-- Chart.js -->#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>#}

<!-- Django Secure AJAX JS -->
<script src="{% static 'js/system/csrf.ajax.js' %}"></script>

<!-- patazone Sales Data JS -->
<script src="{% static 'js/system/patazone.sales.js' %}"></script>

<!-- patazone Custom JS -->


<!-- patazone Main JS -->
<script src="{% static 'js/system/patazone.main.js' %}"></script>

