<div class="d-none d-lg-block" style=" background-color: #b92227">
    <div class="section wrapper_sub_category_tabs container_horizontal_tab_postions onlyparent"
         id="category_thumb49095373">
        <div class="category-thumb-section">
            <div class="widget-tabs">
                <div class="owl-carousel owl-theme list-category-item owl-loaded owl-drag" data-nav="false"
                     data-dots="false" data-center="false" data-loop="false" data-bigdesktop="8" data-items="7"
                     data-smalldesktop="5" data-bigtablet="5" data-tablet="4" data-smalltablet="4" data-mobile="2"
                     data-margin="20">

                    <div class="owl-stage-outer">
                        <div class="owl-stage"
                             style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1366px;">
                            <div class="owl-item first-active-item active"
                                 style="width: 150.714px; margin-right: 20px;">
                                <div class="item-load item-row">
                                    <div class="category-item">
                                        <a href="{% url 'shopsearch:computer' %}"
                                            class="horizontal absolute-content-image">
                                        <figure>
                                            <img alt="Computer &amp; Desktop" width="38.59" height="34.98"
                                                     class="horizontal lazy-loaded transition"
                                                     src="https://mageblueskytech.com/dukamarket/media/catalog/category/Laptop-_-computer.png"
                                                     style="display: block;">
                                        </figure>
                                        <span class="thumb-infor">
                                            <span class="cate-name cate-count">
                                            <span>Computer &amp; Accessories</span>
                                            </span>
                                            </span>
                                    </a>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item active" style="width: 150.714px; margin-right: 20px;">
                                <div class="item-load item-row">
                                    <div class="category-item"><a
                                            href="{% url 'shop:sortedproducts' 'Phones & Accessories' %}"
                                            class="horizontal absolute-content-image">
                                        <figure><img alt="Tablets &amp; Mobile Phone" width="38.59" height="34.98"
                                                     class="horizontal lazy-loaded transition"
                                                     src="https://mageblueskytech.com/dukamarket/media/catalog/category/Mobile.png"
                                                     style="display: block;">
                                        </figure>
                                        <span class="thumb-infor">
                                            <span class="cate-name cate-count">
                                            <span>Phones &amp; Tablets   </span>
                                            </span>
                                            </span>
                                    </a>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item active" style="width: 150.714px; margin-right: 20px;">
                                <div class="item-load item-row">
                                    <div class="category-item"><a
                                            href="{% url 'shop:sortedproducts' 'supermarket' %}"
                                            class="horizontal absolute-content-image">
                                        <figure><img alt="Sport &amp; Outdoors" width="38.59" height="34.98"
                                                     class="horizontal lazy-loaded transition"
                                                     src="https://mageblueskytech.com/dukamarket/media/catalog/category/new-icon-update333.png"
                                                     style="display: block;">
                                        </figure>
                                        <span class="thumb-infor">
                                            <span class="cate-name cate-count">
                                            <span>Supermarket</span>
                                            </span>
                                            </span>
                                    </a>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item active" style="width: 150.714px; margin-right: 20px;">
                                <div class="item-load item-row">
                                    <div class="category-item"><a
                                            href="{% url 'shop:sortedproducts' 'electronics' %}"
                                            class="horizontal absolute-content-image">
                                        <figure><img alt="Audio &amp; Headphones" width="38.59" height="34.98"
                                                     class="horizontal lazy-loaded transition"
                                                     src="https://mageblueskytech.com/dukamarket/media/catalog/category/Audio.png"
                                                     style="display: block;">
                                        </figure>
                                        <span class="thumb-infor">
                                            <span class="cate-name cate-count">
                                            <span>Audio &amp; Headphones</span>
                                            </span>
                                            </span>
                                    </a>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item active" style="width: 150.714px; margin-right: 20px;">
                                <div class="item-load item-row">
                                    <div class="category-item"><a
                                           href="{% url 'shopsearch:homeOffice' %}"
                                            class="horizontal absolute-content-image">
                                        <figure><img alt="Decor  &amp; Furniture" width="38.59" height="34.98"
                                                     class="horizontal lazy-loaded transition"
                                                     src="https://mageblueskytech.com/dukamarket/media/catalog/category/Decor.png"
                                                     style="display: block;">
                                        </figure>
                                        <span class="thumb-infor">
                                            <span class="cate-name cate-count">
                                            <span>Home Aplliances</span>
                                            </span>
                                            </span>
                                    </a>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item active" style="width: 150.714px; margin-right: 20px;">
                                <div class="item-load item-row">
                                    <div class="category-item"><a
                                            href="{% url 'shop:sortedproducts' 'clothes' %}"
                                            class="horizontal absolute-content-image">
                                        <figure><img alt="Fashion  &amp; Clothing" width="38.59" height="34.98"
                                                     class="horizontal lazy-loaded transition"
                                                     src="https://mageblueskytech.com/dukamarket/media/catalog/category/Fashion.png"
                                                     style="display: block;">
                                        </figure>
                                        <span class="thumb-infor">
                                            <span class="cate-name cate-count">
                                            <span>Fashion &amp; Clothing</span>
                                            </span>
                                            </span>
                                    </a>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item last-active-item active" style="width: 150.714px; margin-right: 20px;">
                                <div class="item-load item-row">
                                    <div class="category-item"><a
                                            href="{% url 'shop:sortedproducts' 'electronics' %}"
                                            class="horizontal absolute-content-image">
                                        <figure><img alt="Electronics, Computers" width="38.59" height="34.98"
                                                     class="horizontal lazy-loaded transition"
                                                     src="https://mageblueskytech.com/dukamarket/media/catalog/category/digital_new_update_2.png"
                                                     style="display: block;">
                                        </figure>
                                        <span class="thumb-infor">
                                            <span class="cate-name cate-count">
                                            <span>Consumer Electronics</span>
                                            </span>
                                            </span>
                                    </a>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item" style="width: 150.714px; margin-right: 20px;">
                                <div class="item-load item-row">
                                    <div class="category-item"><a
                                            href="{% url 'shop:sortedproducts' 'Beauty, Health & Hair' %}"
                                            class="horizontal absolute-content-image">
                                        <figure><img alt="Camera, Photo &amp; Video" width="38.59" height="34.98"
                                                     class="horizontal lazy-loaded transition"
                                                     src="https://mageblueskytech.com/dukamarket/media/catalog/category/Camera111.png"
                                                     style="display: block;">
                                        </figure>
                                        <span class="thumb-infor">
                                            <span class="cate-name cate-count">
                                            <span>Beauty &amp; Cosmetics</span>
                                            </span>
                                            </span>
                                    </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-nav disabled">
                        <button type="button" role="presentation" class="owl-prev">Next</button>
                        <button type="button" role="presentation" class="owl-next">Prev</button>
                    </div>
                    <div class="owl-dots disabled"></div>
                </div>
            </div>
        </div>
    </div>
</div>