{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="block block-customer-login">
                <div class="block-title">
                    <strong id="block-customer-login-heading" role="heading" aria-level="2">Complete your order</strong>
                </div>
                <div class="block-content" aria-labelledby="block-customer-login-heading">
                    <form class="form form-login" action="{% url 'mpesa:completeorder' %}" method="post" id="login-form">
                         {% csrf_token %}
                        <fieldset class="fieldset login" data-hasrequired="* Required Fields">
                            <div class="field note">Enter your Mpesa pin, then COMPLETE your order</div>
                            <div class="field email required">
                                <label class="label" for="email"><span>Payment nuber</span></label>
                                <div class="control">
                                    <input name="phone"  autocomplete="off" id="phone" type="text" class="input-text" title="Phone number" readonly>
                                </div>
                            </div>

                            <div class="actions-toolbar">
                                <div class="primary">
                                    <button style="background-color: #b92227;" type="submit" class="action login primary" name="send"
                                        id="send2"><span>Sign In</span>
                                    </button>
                                </div>
                                <div class="secondary"><a class="action remind" href="{% url 'mpesa:mpesaApp-about' %}"><span>Resend payment</span></a></div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
{% endblock content %}