<!doctype html>
<!--[if lt IE 7]>
<html class="no-js ie6 oldie" lang="en-KE"> <![endif]-->
<!--[if IE 7]>
<html class="no-js ie7 oldie" lang="en-KE"> <![endif]-->
<!--[if IE 8]>
<html class="no-js ie8 oldie" lang="en-KE"> <![endif]-->
<!--[if IE 9]>
<html class="no-js ie9" lang="en-KE"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en-KE"><!--<![endif]-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Payment Method | Jumia</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="robots" content="noindex,follow"/>

    <link rel="prefetch"
          href="https://www.jumia.co.ke/scripts/alice_controller_indexcontroller--index--alice{-oshun}-497998a2c08c78c78f7100093e061670.js">
    <link rel="prefetch"
          href="https://www.jumia.co.ke/scripts/alice_controller_catalogcontroller--index--alice{-oshun}-4917d040d950a98edb93ca3083ef53fe.js">
    <link rel="prefetch"
          href="https://www.jumia.co.ke/scripts/alice_controller_catalogcontroller--detail--alice{-oshun}-1107b0774ea80d87880b5bc8d3aefcd1.js">
    <link rel="prefetch"
          href="https://www.jumia.co.ke/css/alice_controller_indexcontroller--index--alice-min{-oshun}.161b3f15d8a5c737849169d18d5b91ff.css">
    <link rel="prefetch"
          href="https://www.jumia.co.ke/css/alice_controller_catalogcontroller--index--alice-min{-oshun}.5baecbad61ee96ae3b9ce07ebeeca702.css">
    <link rel="prefetch"
          href="https://www.jumia.co.ke/css/alice_controller_catalogcontroller--detail--alice-min{-oshun}.f081cacc3e3d03f8d12c75138bcb4f13.css">
    <link rel="preconnect" href="//static.jumia.co.ke">
    <link rel="preconnect" href="//radar.cedexis.com">
    <link rel="preconnect" href="//7208781.collect.igodigital.com">
    <link rel="preconnect" href="//eu-sonar.sociomantic.com">
    <link rel="preconnect" href="//jumia-by.accengage.net">
    <link rel="preconnect" href="//bam.nr-data.net">
    <link rel="preconnect" href="//marketing.net.jumia.co.ke">
    <link rel="preconnect" href="//nova.collect.igodigital.com">
    <link rel="preconnect" href="//sslwidget.criteo.com">
    <link rel="preconnect" href="//ads.admized.com">
    <link rel="preconnect" href="//assets.zendesk.com">
    <link rel="preconnect" href="//dis.eu.criteo.com">
    <link rel="preconnect" href="//ebdr3.com">
    <meta name="msvalidate.01" content="18D4C7784A54CEB370A0B89D0634A096"/>
    <meta name="google-site-verification" content="n_VPq2qj81eefHQXQuWUQcpCjf22dILtzJ-5fqwv3cY"/>
    <link rel="canonical" href="https://www.jumia.co.ke/onepagecheckout/payment/index/"/>

    <link rel="icon" href="https://www.jumia.co.ke/favicon.ico" type="image/x-icon"/>

    <link rel="shortcut icon" href="https://www.jumia.co.ke/favicon.ico" type="image/x-icon"/>
    <meta property="fb:pages" content="395103207248808"/>
    <script type="text/javascript">var isCssLoaded = function (s) {
        return document.querySelector('head > link[rel=stylesheet][href="' + s + '"]');
    }</script>
    <link rel="preload" href="https://www.jumia.co.ke/css/desktop/pages/checkout/checkout.ac215a41b9.css" as="style"
          onload="this.onload=null;if(!isCssLoaded(this.href))this.rel='stylesheet'">



</head>
<body
        data-rel="onepagecheckout"
        class="l-full-hd  ui-page-bg  thm-core thm-spinbasket thm-local thm-oshun  dir-ltr"
        data-control="Default">
<!-- Googletagmanager - BEGIN -->
<script>var dataLayer = [{
    "u1": "Direct",
    "u16": "desktop",
    "pageTypeV2": "checkout",
    "siteLang": "en",
    "countryCode": "KE",
    "url": "/onepagecheckout/payment/index/",
    "availablePayments": "Jumia_Pay/JumiaPay-Segment2##CashOnDelivery/MpesaOnDelivery",
    "bob_ab_splittest": "CLP:A#SearchPerso:Y#Cart:E",
    "customerType": "returning",
    "accountType": "Customer",
    "subscriberId": "ae35139541750bdfbb0ea2c5c01c425a",
    "userId": "4205767",
    "loginType": "Normal"
}];
jsTrackingStore.merge(dataLayer[0], 'dataLayer');
jsTrackingStore.set(["products", "FA113FS00QMLTNAFAMZ"], {
    "skuSimple": "FA113FS00QMLTNAFAMZ-47322741",
    "sku": "FA113FS00QMLTNAFAMZ",
    "name": "Men's Sneakers Casual Comfortable Breathable",
    "brand": "Fashion",
    "category": "Fashion\/Men's Fashion\/Shoes\/Fashion Sneakers",
    "categoryIds": "9158\/9608\/10169\/10227",
    "price": "7.78",
    "priceLocal": "999.00",
    "tax": "0.00",
    "taxLocal": "0.00",
    "oldPrice": "10.11",
    "oldPriceLocal": "1299.00",
    "sellerId": 69999,
    "sellerName": "New style",
    "sellerScore": "4.3 \/ 5",
    "reviewsNumber": 45,
    "ratingsAverage": "3.87",
    "jumiaFirst": 0,
    "jumiaGlobal": 0,
    "tags": ["Boost", "CP_17", "CP_MT1", "CP_MT8", "CP_MT9", "DOD_1", "JA21_UN5", "TBOOST"],
    "brandId": 21113,
    "quantity": 1,
    "crossSell": 0,
    "universe": "",
    "cartSimples": {"47322741": 1}
}); </script>
<noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id=GTM-PHL8S2" height="0" width="0"
            style="display:none;visibility:hidden"></iframe>
</noscript>
<script>window.onload = function () {
    try {
        (function (e, t, a, n, o) {
            e[n] = e[n] || [];
            e[n].push({"gtm.start": (new Date).getTime(), event: "gtm.js"});
            var g = t.getElementsByTagName(a)[0], r = t.createElement(a), c = n != "dataLayer" ? "&l=" + n : "";
            r.async = true;
            r.src = "//www.googletagmanager.com/gtm.js?id=" + o + c;
            g.parentNode.insertBefore(r, g)
        })(window, document, "script", "dataLayer", "GTM-PHL8S2")
    } catch (e) {
        console.log("GTM_ERROR");
        console.log(e)
    }
}</script><!-- Googletagmanager - END -->
<!-- Googletagmanager - EVENTS BEGIN -->
<script type="text/javascript">try {
} catch (e) {
    console.log(e);
}
var jsEventsCb = jsEventsCb || [];
jsEventsCb.push(function () {
    try {
        $(document).ready(function (event) {
            dataLayer.push({
                'ecommerce': {
                    'currencyCode': 'EUR',
                    'checkout': {
                        'actionField': {'step': 4, 'option': "Jumia_Pay"},
                        'products': [{
                            "name": "Men's Sneakers Casual Comfortable Breathable",
                            "id": "FA113FS00QMLTNAFAMZ",
                            "brand": "Fashion",
                            "category": "Fashion\/Men's Fashion\/Shoes\/Fashion Sneakers",
                            "skuSimple": "FA113FS00QMLTNAFAMZ-47322741",
                            "price": "7.78",
                            "priceLocal": "999.00",
                            "tax": "0.00",
                            "taxLocal": "0.00",
                            "sellerId": 69999,
                            "sellerName": "New style",
                            "sellerScore": "4.3 \/ 5",
                            "reviewsNumber": 45,
                            "ratingsAverage": "3.87",
                            "jumiaFirst": 0,
                            "jumiaGlobal": 0,
                            "tag": "Boost|CP_17|CP_MT1|CP_MT8|CP_MT9|DOD_1|JA21_UN5|TBOOST",
                            "crossSell": 0,
                            "universe": "",
                            "quantity": 1
                        }]
                    }
                }
            });
        });
        mediator.on('tracking.checkoutOption', function (event) {
            var activeStep = event.activeStep;
            dataLayer.push({
                'event': 'checkoutOption',
                'ecommerce': {'checkout_option': {'actionField': {'step': activeStep, 'option': event.option}}}
            });
        });
        $(document).ready(function (event) {
            var addVoucher = {
                init: function (e) {
                    var r = jsTrackingStore.get("couponCode");
                    var n = jsTrackingStore.get("couponErrorMessage");
                    if (!r || !n) {
                        return
                    }
                    var t = {
                        event: "jumiaEvent",
                        eventCategory: "errorVouchers",
                        eventAction: n,
                        eventLabel: r,
                        eventValue: undefined
                    };
                    dataLayer.push(t)
                }
            };
            addVoucher.init(event)
        });
        mediator.on('tracking.search', function (event) {
            dataLayer.push({event: "Search", searchTrigger: event.trigger, searchValue: event.query})
        });
        $(document).on('click', '[data-placement-container]', function (event) {
            dataLayer.push({event: "ab_recommendation_click"})
        });
        $(document).on('click', '.js-btn-lc', function (event) {
            if (!window.google_tag_manager) {
                return;
            }

            dataLayer.push({
                'event': 'jEvent',
                'eventCategory': 'LiveChat',
                'eventAction': 'open'
            })
        });
    } catch (e) {
        console.log('tracking events not fired on this page (ignore comment if happens in an iframe)');
    }
}); </script><!-- Googletagmanager - EVENTS END -->
<div id="top_banner"></div>
<header>
    <div class="osh-container">
        <div class="osh-checkout-header">
            <div class="characteristic -logo"><a href="https://www.jumia.co.ke/" title="Logo"> <img
                    src="https://static.jumia.co.ke/cms/Brand_logos/jumia_logo_small_checkout.png" alt=""/> </a></div>
            <ul class="characteristic -additional">
                <li class="stamp">
                    <div class="iconography"><i class="osh-font-help st"></i></div>
                    <div class="description"><span class="title">Need Help?</span> <span class="text">Please fill the Contact Us form</span>
                    </div>
                </li>
                <li class="stamp">
                    <div class="iconography"><i class="osh-font-trust st"></i></div>
                    <div class="description"><span class="title">Secure</span> <span class="text">Payment</span></div>
                </li>
                <li class="stamp">
                    <div class="iconography"><i class="osh-font-7-days-return st"></i></div>
                    <div class="description"><span class="title">Easy Returns</span></div>
                </li>
            </ul>
        </div>
    </div>
</header>
<div id="messagesContainer" class="osh-container"></div>
<main>
    <section>
        <div class="st -mbl text-uppercase">Checkout</div>
        <div class="bg-white -rad -shad -mbm step ft-address-step -completed">
            <div class="hdr -pal"><i class="osh-font-check"></i> <span class="text-uppercase">1. Address Details</span>
                <div class="js-address-change -link text-uppercase">Change</div>
            </div>
            <div class="cont brdt">
                <div class="color-default -fwm ft-address-name">benson Opondo</div>
                <div class="color-default-800 -fs-13">
                    <div class="-block ft-address-location">qwsqw, Embakasi South - Landimawe, Nairobi</div>
                    <div class="-block ft-address-phone">+254746180701</div>
                </div>
            </div>
        </div>
        <div class="bg-white -rad -shad -mbm step ft-shipping-step -completed">
            <div class="hdr -pal"><i class="osh-font-check"></i> <span class="text-uppercase">2. Delivery Method</span>
                <a href="https://www.jumia.co.ke/onepagecheckout/delivery/index/" class="text-uppercase">Change</a>
            </div>
            <div class="cont brdt">
                <div class="color-default -fwm" data-ft-shipping-method="UniversalShippingMatrix">Delivery to your home
                    or office
                </div>
                <div class="color-default-800 -fs-13">Delivered between <span
                        class="-fwm color-default">Thursday 12 Aug</span> and <span class="-fwm color-default">Friday 13 Aug</span>
                    <br><br> - Nairobi, Kiambu, Mombasa, Nakuru & Eldoret, members will enjoy free delivery for both
                    Jumia Food and all local orders by subscribing to <b>JUMIA PRIME</b> services.<br><br>Please ensure
                    you have entered your home or office address so that we can deliver to you successfully. for <b
                            class="color-primary"><span data-currency-iso="KES">KSh</span> <span dir="ltr"
                                                                                                 data-price="108">108</span>
                    </b></div>
            </div>
        </div>
        <div class="bg-white -rad -shad -mbm step ft-payment-step -active">
            <div class="hdr -pal"><i class="osh-font-check"></i> <span class="text-uppercase">3. Payment Method</span>
            </div>
            <div class="cont brdt">
                <form onsubmit="" id="osh-opc-paymentForm" class="-validate-form"
                      action="https://www.jumia.co.ke/onepagecheckout/payment/save/" method="post">
                    <div style="display:none"><input class="js-store" data-js-store="csrf.tokenValue" type="hidden"
                                                     value="713936934f04eb0b08d1a2bbbb55d4cfffe6d39f"
                                                     name="YII_CSRF_TOKEN"/></div>
                    <div class="subt color-default -fwm -pbm">How do you want to pay for your order?</div>
                    <div class="list list-options">
                        <div class="list--item list--item-options -ptxl brdb -pbxl"><input class="osh-radio option"
                                                                                           value="39"
                                                                                           id="JumiaPay-Segment2_Jumia_Pay"
                                                                                           data-payment-provider="Jumia_Pay"
                                                                                           data-tracking-payment-option="JumiaPay-Segment2/Jumia_Pay"
                                                                                           checked="checked"
                                                                                           type="radio"
                                                                                           name="PaymentOptionsForm[payment_option]"/>
                            <label class="-fwm" for="JumiaPay-Segment2_Jumia_Pay"><span class="-prm"><img
                                    src="https://static.jumia.co.ke/cms/Jumia_Pay/mpesamastercard.png" alt=""/></span>Pay
                                Now</label>
                            <div class="color-default-800 -fs-13 -plxxxl -mtxs" id="content">
                                <div class="title -hidden"> Pay now fast and securely with M-PESA, Airtel, DTB Mobile
                                    Banking, Mastercard or Visa
                                </div>
                                <div class="additional-data"></div>
                                <div class="description "><br>1. Your security is our #1 priority. You keep control of
                                    every transaction and are protected against fraud and theft.
                                    <br>2. Faster refund process. The refund will happen almost instantly. No need to
                                    wait. Jumia's return/refund policy applies.
                                    <br><br>Before you proceed, please make sure you have enough money in your account.
                                    <br>
                                </div>
                                <div class="additional-data"></div>
                            </div>
                            <div class="js-grand-total -hidden"><span data-currency-iso="KES">KSh</span> <span dir="ltr"
                                                                                                               data-price="1107">1,107</span>
                            </div>
                        </div>
                        <div class="list--item list--item-options -ptxl -pbxl"><input class="osh-radio option" value="9"
                                                                                      id="MpesaOnDelivery_CashOnDelivery"
                                                                                      data-payment-provider="CashOnDelivery"
                                                                                      data-tracking-payment-option="MpesaOnDelivery/CashOnDelivery"
                                                                                      type="radio"
                                                                                      name="PaymentOptionsForm[payment_option]"/>
                            <label class="-fwm" for="MpesaOnDelivery_CashOnDelivery"><span class="-prm"><img
                                    src="https://static.jumia.co.ke/cms/mpesa.png" alt=""/></span>M-PESA On
                                Delivery</label>
                            <div class="color-default-800 -fs-13 -plxxxl -mtxs" id="content">
                                <div class="title"> Pay M-PESA at your doorstep/pickup station.<br/>
                                    <br/>
                                </div>
                                <div class="additional-data -hidden"></div>
                                <div class="description  -hidden"><p>Pay for your package when our delivery associate
                                    brings it to your doorstep or when you pick it up at one of our pickup stations.
                                    <br/> <br/>We encourage you to Pay Online - it saves you time &amp; money</p></div>
                                <div class="additional-data -hidden"></div>
                            </div>
                            <div class="js-grand-total -hidden"><span data-currency-iso="KES">KSh</span> <span dir="ltr"
                                                                                                               data-price="1107">1,107</span>
                            </div>
                        </div>
                    </div>
                    <div class="-pbxxl">
                        <div class="subt color-default -fwm -fs-14 -ptl -pbxs">Do you have a voucher?</div>
                        <div class="vch_box brda"><input id="opc-cart-promocode"
                                                         class="vch_input -pal -fs-14 ft-voucher-input"
                                                         placeholder="Enter voucher code here" type="text" value=""
                                                         name="couponcode"/>
                            <button name="addCoupon" class="osh-btn ft-apply-voucher js-throttle"><span class="label ">Add voucher</span>
                            </button>
                        </div>
                    </div>
                    <div class="osh-resume -mtxl -plm -prm">
                        <div class="ft-subtotal color-default -pbm price_row "><span
                                class="price_col-desc">Subtotal</span> <span class="price_col-value"><span
                                data-currency-iso="KES">KSh</span> <span dir="ltr"
                                                                         data-price="999">999</span>  </span><span
                                class="price_col-value not_applicable-box -b color-primary -hidden"></span></div>
                        <div class=" color-default -pbm price_row "><span class="price_col-desc">VAT</span> <span
                                class="price_col-value"><span data-currency-iso="KES">KSh</span> <span dir="ltr"
                                                                                                       data-price="13.26">13</span>  </span><span
                                class="price_col-value not_applicable-box -b color-primary -hidden"></span></div>
                        <div class="applied-shipping ft-shipping-amount color-default -pbm price_row "><span
                                class="price_col-desc">Local delivery fees</span> <span
                                class="price_col-value -b "><span data-currency-iso="KES">KSh</span> <span dir="ltr"
                                                                                                           data-price="108">108</span>  </span><span
                                class="price_col-value not_applicable-box -b color-primary -hidden"></span></div>
                        <div class="cart-rules js-cart-rules ft-price-cart-rules"></div>
                        <div class="total ft-total brdt -ptl color-default -fwm"> Total
                            <div class="total-value color-primary -fs-17"><span data-currency-iso="KES">KSh</span> <span
                                    dir="ltr" data-price="1107">1,107</span></div>
                            <div class="not_applicable-box color-primary -fs-17 -hidden"></div>
                        </div>
                    </div>
                    <button class="osh-btn -primary -full-width -mtxxl js-throttle"><span
                            class="label ">Confirm Order</span></button>
                </form>
            </div>
        </div>
    </section>
    <aside class="-fs-14">
        <div class="st -mbl text-uppercase">Order Summary</div>
        <section class="bg-white color-default -pbxl -rad -shad -ofy-a">
            <div class="hdr -plm -prm -ptl -pbl -flex -vh-center"><span
                    class="text-uppercase -pan -mrxxs">Your Order</span> <span class="-pan">(1 item)</span></div>
            <div class="sum brdt -fs-13 -scroll-format">
                <div class="prod_sum brdb -pts -pbs -plm -prm">
                    <div class="col-s -mts"><img width="60" height="60" class="lazy image"
                                                 src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                                 data-src="https://ke.jumia.is/sJkf5XrWKoMDUkwemLQZU92R0k4=/fit-in/60x60/filters:fill(white):sharpen(1,0,false):quality(100)/product/01/242353/1.jpg?2965"
                                                 alt="Men's Sneakers Casual Comfortable Breathable"
                                                 title="Men's Sneakers Casual Comfortable Breathable"
                                                 data-placeholder="placeholder_xs_1.jpg"></div>
                    <div class="col-l -mts"><span
                            class="-ellipsis-2">Men's Sneakers Casual Comfortable Breathable</span> <span
                            class="-mts color-primary"><span data-currency-iso="KES">KSh</span> <span dir="ltr"
                                                                                                      data-price="999">999</span> </span>
                        <div class="-mts"><span class="color-default-800">Qty:</span>&nbsp;1</div>
                    </div>
                </div>
            </div>
            <div class="osh-resume -mtxl -plm -prm">
                <div class="ft-subtotal color-default -pbm price_row "><span class="price_col-desc">Subtotal</span>
                    <span class="price_col-value"><span data-currency-iso="KES">KSh</span> <span dir="ltr"
                                                                                                 data-price="999">999</span>  </span><span
                            class="price_col-value not_applicable-box -b color-primary -hidden"></span></div>
                <div class=" color-default -pbm price_row "><span class="price_col-desc">VAT</span> <span
                        class="price_col-value"><span data-currency-iso="KES">KSh</span> <span dir="ltr"
                                                                                               data-price="13.26">13</span>  </span><span
                        class="price_col-value not_applicable-box -b color-primary -hidden"></span></div>
                <div class="applied-shipping ft-shipping-amount color-default -pbm price_row "><span
                        class="price_col-desc">Local delivery fees</span> <span class="price_col-value -b "><span
                        data-currency-iso="KES">KSh</span> <span dir="ltr" data-price="108">108</span>  </span><span
                        class="price_col-value not_applicable-box -b color-primary -hidden"></span></div>
                <div class="cart-rules js-cart-rules ft-price-cart-rules"></div>
                <div class="total ft-total brdt -ptl color-default -fwm"> Total
                    <div class="total-value color-primary -fs-17"><span data-currency-iso="KES">KSh</span> <span
                            dir="ltr" data-price="1107">1,107</span></div>
                    <div class="not_applicable-box color-primary -fs-17 -hidden"></div>
                </div>
            </div>
            <div class="brdt -align-center -fwm -fs-14 -upp -ptxl -mtl"><a class="color-primary"
                                                                           href="https://www.jumia.co.ke/cart/">Modify
                Cart</a></div>
        </section>
        <section class="bg-white color-default -rad -shad -ofy-a -mtl">
            <div class="hdr brdb -plm -prm -ptl -pbl -flex -vh-center"><span class="text-uppercase -pan -mrxxs">Need help?</span>
            </div>
            <div class="-pam">
                <div class="-ptm -pbxl">Contact an expert to support you</div>
                <button type="button" class="osh-btn -white-primary -shadow -sm -full-width js-btn-lc">Live Chat
                </button>
            </div>
        </section>
    </aside>
</main>
<script type="text/javascript">var store = {
    "shopName": "jumia",
    "language": {"current": {"iso_code": "en", "iso2code": "en_KE", "isDefault": true}},
    "csrf": {"tokenName": "YII_CSRF_TOKEN", "tokenValue": "713936934f04eb0b08d1a2bbbb55d4cfffe6d39f"},
    "imageDataStore": {"placeholderPath": "https:\/\/www.jumia.co.ke\/images\/local\/placeholder\/"},
    "priceStore": [],
    "stockStore": [],
    "baseUrl": "https:\/\/www.jumia.co.ke\/",
    "staticUrl": "https:\/\/www.jumia.co.ke\/",
    "headerInfo": {"customer": {"firstName": "benson", "label": "Hello,"}, "numCartItems": 1},
    "errorLogActive": "0",
    "fullPageCache": {
        "enabled": true, "pageData": {
            "common": {
                "helpOverlay": "  <a class=\"link\" href=\"https:\/\/www.jumia.co.ke\/sp-help\/\">Help Centre<\/a>  <a class=\"link\" href=\"https:\/\/www.jumia.co.ke\/sp-help-with-my-order\/\">Place &amp; track order<\/a>  <a class=\"link\" href=\"https:\/\/www.jumia.co.ke\/sp-cancel-order\/\">Order cancellation<\/a>  <a class=\"link\" href=\"https:\/\/www.jumia.co.ke\/sp-returns-refunds\/\">Returns &amp; Refunds<\/a>  <a class=\"link\" href=\"https:\/\/www.jumia.co.ke\/sp-how-to-pay\/\">Payment &amp; Jumia account<\/a>    <hr><button type=\"button\" class=\"osh-btn -shadow -plxl -prxl -ptm -pbm js-btn-lc\"><div class=\"-flex -vh-center\"><i class=\"ic osh-font-chat -mrm\"><\/i> <span class=\"-full-width -fs-14\">Live Chat<\/span><\/div><\/button> ",
                "accountOverlay": "  <a class=\"link\" href=\"https:\/\/www.jumia.co.ke\/customer\/account\/index\/\">My account<\/a>  <a class=\"link\" href=\"https:\/\/www.jumia.co.ke\/customer\/order\/index\/\">My orders<\/a>  <a class=\"link\" href=\"https:\/\/www.jumia.co.ke\/customer\/wishlist\/index\/\">My Saved Items<\/a> <hr><a     href=\"https:\/\/www.jumia.co.ke\/customer\/account\/logout\/\" class=\"osh-btn -default\" >  <span class=\"label \" >Logout<\/span>    <\/a>  ",
                "cartOverlay": {"itemsCount": 1},
                "search": {"query": ""},
                "customerWishlistItem": {"btn": "", "isItemAlreadySaved": false}
            }
        }
    },
    "customFilesTimestamp": {
        "css": {
            "\/css\/layout-rtl.css": "f68a9c6a59fdbdb8d8ea0e8a1bf3a277",
            "\/css\/ie7.css": "39fdbf20fae4b0cdfe17559ecd4b82ee",
            "\/css\/ie8.css": "41fa7d17c99b6bd24f53f7b5cfaf36fc",
            "\/css\/ie9.css": "a4a1d579c99cb89a02ad97cfb6eaf82c",
            "\/css\/fonts_desktop.css": "84ab0fab7ece41fcbab414eed6945ead",
            "\/css\/iconfonts_desktop.css": "8ee6c96456f27f2d895257965b8738ae"
        }, "js": {"\/scripts\/common_desktop.js": "a040645eb82c75319cad4d5ad46a0c17"}
    },
    "customer": {"email": "kevinopondo20@gmail.com"},
    "deviceType": "desktop",
    "ABTests": {
        "CLP": {"test": "CLP", "scenario": "A"},
        "SearchPerso": {"test": "SearchPerso", "scenario": "Y"},
        "Cart": {"test": "Cart", "scenario": "E"}
    },
    "isAutocompleteSuggester": true,
    "currency": {
        "formatPattern": "\u00a4 #,##0;(\u00a4 #,##0)",
        "symbol": "KSh",
        "symbolPosition": "prefix",
        "decimalsDigits": 0,
        "maxDecimalDigits": 0,
        "decimalSeparator": ".",
        "thousandsSeparator": ","
    },
    "liveChat": {
        "loadingText": "Live Chat is loading...",
        "errorMessage": "A problem has occurred",
        "botImg": "https:\/\/www.jumia.co.ke\/images\/oshun\/livechat\/bot.svg"
    },
    "stepReached": 2,
    "steps": [{
        "name": "address",
        "reached": true,
        "targetUrl": "onepagecheckout\/address\/index\/",
        "position": 0,
        "ft-step": "ft-address-step"
    }, {
        "name": "delivery",
        "reached": true,
        "targetUrl": "onepagecheckout\/delivery\/index\/",
        "position": 1,
        "ft-step": "ft-shipping-step"
    }, {
        "name": "payment",
        "reached": true,
        "targetUrl": "onepagecheckout\/payment\/index\/",
        "position": 2,
        "ft-step": "ft-payment-step"
    }],
    "messages": []
};</script>
<script type="text/javascript">
    /*<![CDATA[*/
    window.store.paymentData = {
        "9": {
            "ExtraPaymentCosts": null,
            "ShippingFee": 108,
            "GrandTotal": 1107,
            "CustomsFee": 0,
            "LineHaulFeeAmount": 0,
            "ServiceFeeAmount": 0,
            "TaxAmount": 13.26,
            "CartRules": [],
            "CouponDiscount": 0,
            "Discount": 0,
            "TotalSavings": 300,
            "FKCatalogShipmentTypes": {"FA113FS00QMLTNAFAMZ-47322741": "2"},
            "LeadTimeRanges": {"FA113FS00QMLTNAFAMZ-47322741": [3, 4]},
            "ExtraPaymentCosts_display": 0,
            "ShippingFee_display": "<span data-currency-iso=\"KES\" >KSh<\/span> <span dir=\"ltr\" data-price=\"108\">108<\/span> ",
            "GrandTotal_display": "<span data-currency-iso=\"KES\" >KSh<\/span> <span dir=\"ltr\" data-price=\"1107\">1,107<\/span> ",
            "CustomsFee_display": 0,
            "LineHaulFeeAmount_display": 0,
            "ServiceFeeAmount_display": 0,
            "TaxAmount_display": "<span data-currency-iso=\"KES\" >KSh<\/span> <span dir=\"ltr\" data-price=\"13.26\">13<\/span> ",
            "CouponDiscount_display": 0,
            "Discount_display": 0,
            "TotalSavings_display": "<span data-currency-iso=\"KES\" >KSh<\/span> <span dir=\"ltr\" data-price=\"300\">300<\/span> ",
            "FKCatalogShipmentTypes_display": {"FA113FS00QMLTNAFAMZ-47322741": "            <tr>\n                <td class=\"txtLeft\">- FA113FS00QMLTNAFAMZ-47322741,\n                    <span class=\"txtHighlight\">\n                       <span data-currency-iso=\"KES\" >KSh<\/span> <span dir=\"ltr\" data-price=\"2\">2<\/span> \n                    <\/span>\n                <\/td>\n            <\/tr>"},
            "LeadTimeRanges_display": {"FA113FS00QMLTNAFAMZ-47322741": "            <tr>\n                <td class=\"txtLeft\">- FA113FS00QMLTNAFAMZ-47322741,\n                    <span class=\"txtHighlight\">\n                       <span data-currency-iso=\"KES\" >KSh<\/span> <span dir=\"ltr\" data-price=\"1\">1<\/span> \n                    <\/span>\n                <\/td>\n            <\/tr>"},
            "CartRulesTotalAmount": "0"
        }, "39": {
            "ExtraPaymentCosts": null,
            "ShippingFee": 108,
            "GrandTotal": 1107,
            "CustomsFee": 0,
            "LineHaulFeeAmount": 0,
            "ServiceFeeAmount": 0,
            "TaxAmount": 13.26,
            "CartRules": [],
            "CouponDiscount": 0,
            "Discount": 0,
            "TotalSavings": 300,
            "FKCatalogShipmentTypes": {"FA113FS00QMLTNAFAMZ-47322741": "2"},
            "LeadTimeRanges": {"FA113FS00QMLTNAFAMZ-47322741": [3, 4]},
            "ExtraPaymentCosts_display": 0,
            "ShippingFee_display": "<span data-currency-iso=\"KES\" >KSh<\/span> <span dir=\"ltr\" data-price=\"108\">108<\/span> ",
            "GrandTotal_display": "<span data-currency-iso=\"KES\" >KSh<\/span> <span dir=\"ltr\" data-price=\"1107\">1,107<\/span> ",
            "CustomsFee_display": 0,
            "LineHaulFeeAmount_display": 0,
            "ServiceFeeAmount_display": 0,
            "TaxAmount_display": "<span data-currency-iso=\"KES\" >KSh<\/span> <span dir=\"ltr\" data-price=\"13.26\">13<\/span> ",
            "CouponDiscount_display": 0,
            "Discount_display": 0,
            "TotalSavings_display": "<span data-currency-iso=\"KES\" >KSh<\/span> <span dir=\"ltr\" data-price=\"300\">300<\/span> ",
            "FKCatalogShipmentTypes_display": {"FA113FS00QMLTNAFAMZ-47322741": "            <tr>\n                <td class=\"txtLeft\">- FA113FS00QMLTNAFAMZ-47322741,\n                    <span class=\"txtHighlight\">\n                       <span data-currency-iso=\"KES\" >KSh<\/span> <span dir=\"ltr\" data-price=\"2\">2<\/span> \n                    <\/span>\n                <\/td>\n            <\/tr>"},
            "LeadTimeRanges_display": {"FA113FS00QMLTNAFAMZ-47322741": "            <tr>\n                <td class=\"txtLeft\">- FA113FS00QMLTNAFAMZ-47322741,\n                    <span class=\"txtHighlight\">\n                       <span data-currency-iso=\"KES\" >KSh<\/span> <span dir=\"ltr\" data-price=\"1\">1<\/span> \n                    <\/span>\n                <\/td>\n            <\/tr>"},
            "CartRulesTotalAmount": "0"
        }
    };
    /*]]>*/
</script>
<script type="text/javascript">
    // jstore
    for (var storeJsEl = document.getElementsByClassName("js-store"), storeJsElLength = storeJsEl.length, i = 0; storeJsElLength > i; i++) {
        var elm = storeJsEl[i], value = elm.getAttribute("data-js-store").split(".").reduce(function (e, t) {
            return e[t] || ""
        }, store) || ""
        elm instanceof HTMLInputElement ? elm.value = value : elm.innerHTML = value
    }
    // lab js
    (function (o) {
        var K = o.$LAB, y = "UseLocalXHR", z = "AlwaysPreserveOrder", u = "AllowDuplicates", A = "CacheBust",
            B = "BasePath", C = /^[^?#]*\//.exec(location.href)[0], D = /^\w+\:\/\/\/?[^\/]+/.exec(C)[0],
            i = document.head || document.getElementsByTagName("head"),
            L = (o.opera && Object.prototype.toString.call(o.opera) == "[object Opera]") || ("MozAppearance" in document.documentElement.style),
            q = document.createElement("script"), E = typeof q.preload == "boolean",
            r = E || (q.readyState && q.readyState == "uninitialized"), F = !r && q.async === true, M = !r && !F && !L;

        function G(a) {
            return Object.prototype.toString.call(a) == "[object Function]"
        }

        function H(a) {
            return Object.prototype.toString.call(a) == "[object Array]"
        }

        function N(a, c) {
            var b = /^\w+\:\/\//;
            if (/^\/\/\/?/.test(a)) {
                a = location.protocol + a
            } else if (!b.test(a) && a.charAt(0) != "/") {
                a = (c || "") + a
            }
            return b.test(a) ? a : ((a.charAt(0) == "/" ? D : C) + a)
        }

        function s(a, c) {
            for (var b in a) {
                if (a.hasOwnProperty(b)) {
                    c[b] = a[b]
                }
            }
            return c
        }

        function O(a) {
            var c = false;
            for (var b = 0; b < a.scripts.length; b++) {
                if (a.scripts[b].ready && a.scripts[b].exec_trigger) {
                    c = true;
                    a.scripts[b].exec_trigger();
                    a.scripts[b].exec_trigger = null
                }
            }
            return c
        }

        function t(a, c, b, d) {
            a.onload = a.onreadystatechange = function () {
                if ((a.readyState && a.readyState != "complete" && a.readyState != "loaded") || c[b]) return;
                a.onload = a.onreadystatechange = null;
                d()
            }
        }

        function I(a) {
            a.ready = a.finished = true;
            for (var c = 0; c < a.finished_listeners.length; c++) {
                a.finished_listeners[c]()
            }
            a.ready_listeners = [];
            a.finished_listeners = []
        }

        function P(d, f, e, g, h) {
            setTimeout(function () {
                var a, c = f.real_src, b;
                if ("item" in i) {
                    if (!i[0]) {
                        setTimeout(arguments.callee, 25);
                        return
                    }
                    i = i[0]
                }
                a = document.createElement("script");
                if (f.type) a.type = f.type;
                if (f.charset) a.charset = f.charset;
                if (h) {
                    if (r) {
                        e.elem = a;
                        if (E) {
                            a.preload = true;
                            a.onpreload = g
                        } else {
                            a.onreadystatechange = function () {
                                if (a.readyState == "loaded") g()
                            }
                        }
                        a.src = c
                    } else if (h && c.indexOf(D) == 0 && d[y]) {
                        b = new XMLHttpRequest();
                        b.onreadystatechange = function () {
                            if (b.readyState == 4) {
                                b.onreadystatechange = function () {
                                };
                                e.text = b.responseText + "\n//@ sourceURL=" + c;
                                g()
                            }
                        };
                        b.open("GET", c);
                        b.send()
                    } else {
                        a.type = "text/cache-script";
                        t(a, e, "ready", function () {
                            i.removeChild(a);
                            g()
                        });
                        a.src = c;
                        i.insertBefore(a, i.firstChild)
                    }
                } else if (F) {
                    a.async = false;
                    t(a, e, "finished", g);
                    a.src = c;
                    i.insertBefore(a, i.firstChild)
                } else {
                    t(a, e, "finished", g);
                    a.src = c;
                    i.insertBefore(a, i.firstChild)
                }
            }, 0)
        }

        function J() {
            var l = {}, Q = r || M, n = [], p = {}, m;
            l[y] = true;
            l[z] = false;
            l[u] = false;
            l[A] = false;
            l[B] = "";

            function R(a, c, b) {
                var d;

                function f() {
                    if (d != null) {
                        d = null;
                        I(b)
                    }
                }

                if (p[c.src].finished) return;
                if (!a[u]) p[c.src].finished = true;
                d = b.elem || document.createElement("script");
                if (c.type) d.type = c.type;
                if (c.charset) d.charset = c.charset;
                t(d, b, "finished", f);
                if (b.elem) {
                    b.elem = null
                } else if (b.text) {
                    d.onload = d.onreadystatechange = null;
                    d.text = b.text
                } else {
                    d.src = c.real_src
                }
                i.insertBefore(d, i.firstChild);
                if (b.text) {
                    f()
                }
            }

            function S(c, b, d, f) {
                var e, g, h = function () {
                    b.ready_cb(b, function () {
                        R(c, b, e)
                    })
                }, j = function () {
                    b.finished_cb(b, d)
                };
                b.src = N(b.src, c[B]);
                b.real_src = b.src + (c[A] ? ((/\?.*$/.test(b.src) ? "&_" : "?_") + ~~(Math.random() * 1E9) + "=") : "");
                if (!p[b.src]) p[b.src] = {items: [], finished: false};
                g = p[b.src].items;
                if (c[u] || g.length == 0) {
                    e = g[g.length] = {ready: false, finished: false, ready_listeners: [h], finished_listeners: [j]};
                    P(c, b, e, ((f) ? function () {
                        e.ready = true;
                        for (var a = 0; a < e.ready_listeners.length; a++) {
                            e.ready_listeners[a]()
                        }
                        e.ready_listeners = []
                    } : function () {
                        I(e)
                    }), f)
                } else {
                    e = g[0];
                    if (e.finished) {
                        j()
                    } else {
                        e.finished_listeners.push(j)
                    }
                }
            }

            function v() {
                var e, g = s(l, {}), h = [], j = 0, w = false, k;

                function T(a, c) {
                    a.ready = true;
                    a.exec_trigger = c;
                    x()
                }

                function U(a, c) {
                    a.ready = a.finished = true;
                    a.exec_trigger = null;
                    for (var b = 0; b < c.scripts.length; b++) {
                        if (!c.scripts[b].finished) return
                    }
                    c.finished = true;
                    x()
                }

                function x() {
                    while (j < h.length) {
                        if (G(h[j])) {
                            try {
                                h[j++]()
                            } catch (err) {
                            }
                            continue
                        } else if (!h[j].finished) {
                            if (O(h[j])) continue;
                            break
                        }
                        j++
                    }
                    if (j == h.length) {
                        w = false;
                        k = false
                    }
                }

                function V() {
                    if (!k || !k.scripts) {
                        h.push(k = {scripts: [], finished: true})
                    }
                }

                e = {
                    script: function () {
                        for (var f = 0; f < arguments.length; f++) {
                            (function (a, c) {
                                var b;
                                if (!H(a)) {
                                    c = [a]
                                }
                                for (var d = 0; d < c.length; d++) {
                                    V();
                                    a = c[d];
                                    if (G(a)) a = a();
                                    if (!a) continue;
                                    if (H(a)) {
                                        b = [].slice.call(a);
                                        b.unshift(d, 1);
                                        [].splice.apply(c, b);
                                        d--;
                                        continue
                                    }
                                    if (typeof a == "string") a = {src: a};
                                    a = s(a, {ready: false, ready_cb: T, finished: false, finished_cb: U});
                                    k.finished = false;
                                    k.scripts.push(a);
                                    S(g, a, k, (Q && w));
                                    w = true;
                                    if (g[z]) e.wait()
                                }
                            })(arguments[f], arguments[f])
                        }
                        return e
                    }, wait: function () {
                        if (arguments.length > 0) {
                            for (var a = 0; a < arguments.length; a++) {
                                h.push(arguments[a])
                            }
                            k = h[h.length - 1]
                        } else k = false;
                        x();
                        return e
                    }
                };
                return {
                    script: e.script, wait: e.wait, setOptions: function (a) {
                        s(a, g);
                        return e
                    }
                }
            }

            m = {
                setGlobalDefaults: function (a) {
                    s(a, l);
                    return m
                }, setOptions: function () {
                    return v().setOptions.apply(null, arguments)
                }, script: function () {
                    return v().script.apply(null, arguments)
                }, wait: function () {
                    return v().wait.apply(null, arguments)
                }, queueScript: function () {
                    n[n.length] = {type: "script", args: [].slice.call(arguments)};
                    return m
                }, queueWait: function () {
                    n[n.length] = {type: "wait", args: [].slice.call(arguments)};
                    return m
                }, runQueue: function () {
                    var a = m, c = n.length, b = c, d;
                    for (; --b >= 0;) {
                        d = n.shift();
                        a = a[d.type].apply(null, d.args)
                    }
                    return a
                }, noConflict: function () {
                    o.$LAB = K;
                    return m
                }, sandbox: function () {
                    return J()
                }
            };
            return m
        }

        o.$LAB = J();
        (function (a, c, b) {
            if (document.readyState == null && document[a]) {
                document.readyState = "loading";
                document[a](c, b = function () {
                    document.removeEventListener(c, b, false);
                    document.readyState = "complete"
                }, false)
            }
        })("addEventListener", "DOMContentLoaded")
    })(this);
    // load css
    var loadCSS = function (e) {
        var n = function () {
                if (isCssLoaded(e)) return;
                var n = document.createElement("link");
                n.rel = "stylesheet", n.href = e;
                var t = document.getElementsByTagName("head")[0], a = t.getElementsByTagName("style")[0];
                void 0 !== a ? a.parentNode.insertBefore(n, a) : t.appendChild(n)
            },
            t = window.requestAnimationFrame || window.mozRequestAnimationFrame || window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;
        t ? t(n) : window.addEventListener("load", n)
    };
    // lazyload
    !function (a, b) {
        "function" == typeof define && define.amd ? define([], b) : "object" == typeof exports ? module.exports = b() : a.LazyLoad = b()
    }(this, function () {
        function a(a, b, c) {
            return m ? void a.addEventListener(b, c) : void (n && (a.attachEvent("on" + b, function (a) {
                return function () {
                    c.call(a, window.event)
                }
            }(a)), a = null))
        }

        function b(a, b, c) {
            return m ? void a.removeEventListener(b, c) : void (n && a.detachEvent("on" + b, c))
        }

        function c(a, b, c) {
            function d() {
                return window.innerWidth || l.documentElement.clientWidth || document.body.clientWidth
            }

            function e() {
                return window.innerHeight || l.documentElement.clientHeight || document.body.clientHeight
            }

            function f(a) {
                return a.getBoundingClientRect().top + m - l.documentElement.clientTop
            }

            function g(a) {
                return a.getBoundingClientRect().left + n - l.documentElement.clientLeft
            }

            function h() {
                var d;
                return d = b === window ? e() + m : f(b) + b.offsetHeight, d <= f(a) - c
            }

            function i() {
                var e;
                return e = b === window ? d() + window.pageXOffset : g(b) + d(), e <= g(a) - c
            }

            function j() {
                var d;
                return d = b === window ? m : f(b), d >= f(a) + c + a.offsetHeight
            }

            function k() {
                var d;
                return d = b === window ? n : g(b), d >= g(a) + c + a.offsetWidth
            }

            var l, m, n;
            return l = a.ownerDocument, m = window.pageYOffset || l.body.scrollTop, n = window.pageXOffset || l.body.scrollLeft, !(h() || j() || i() || k())
        }

        function d() {
            var a = new Date;
            return a.getTime()
        }

        function e(a, b) {
            var c, d = {};
            for (c in a) a.hasOwnProperty(c) && (d[c] = a[c]);
            for (c in b) b.hasOwnProperty(c) && (d[c] = b[c]);
            return d
        }

        function f(a) {
            try {
                return Array.prototype.slice.call(a)
            } catch (b) {
                var c, d = [], e = a.length;
                for (c = 0; e > c; c++) d.push(a[c]);
                return d
            }
        }

        function g(a, b) {
            return o ? void a.classList.add(b) : void (a.className += (a.className ? " " : "") + b)
        }

        function h(a, b) {
            return o ? void a.classList.remove(b) : void (a.className = a.className.replace(new RegExp("(^|\\s+)" + b + "(\\s+|$)"), " ").replace(/^\s+/, "").replace(/\s+$/, ""))
        }

        function i(a, b, c, d) {
            var e = b.getAttribute("data-" + c), f = b.getAttribute("data-" + d);
            e && a.setAttribute("srcset", e), f && a.setAttribute("src", f)
        }

        function j(a, b) {
            return function () {
                return a.apply(b, arguments)
            }
        }

        function k(b) {
            this._settings = e(l, b), this._queryOriginNode = this._settings.container === window ? document : this._settings.container, this._previousLoopTime = 0, this._loopTimeout = null, this._handleScrollFn = j(this.handleScroll, this), a(window, "resize", this._handleScrollFn), this.update()
        }

        var l = {
            elements_selector: "img",
            container: window,
            threshold: 300,
            throttle: 50,
            data_src: "original",
            data_srcset: "original-set",
            class_loading: "loading",
            class_loaded: "loaded",
            skip_invisible: !0,
            show_while_loading: !1,
            callback_load: null,
            callback_set: null,
            callback_processed: null,
            placeholder: "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
        }, m = !!window.addEventListener, n = !!window.attachEvent, o = !!document.body.classList;
        return k.prototype._showOnLoad = function (c) {
            function d() {
                null !== f && (f.callback_load && f.callback_load(c), i(c, c, f.data_srcset, f.data_src), f.callback_set && f.callback_set(c), h(c, f.class_loading), g(c, f.class_loaded), b(e, "load", d))
            }

            var e, f = this._settings;
            c.getAttribute("src") || c.setAttribute("src", f.placeholder), e = document.createElement("img"), a(e, "load", d), g(c, f.class_loading), i(e, c, f.data_srcset, f.data_src)
        }, k.prototype._showOnAppear = function (c) {
            function d() {
                null !== e && (e.callback_load && e.callback_load(c), h(c, e.class_loading), g(c, e.class_loaded), b(c, "load", d))
            }

            var e = this._settings;
            a(c, "load", d), g(c, e.class_loading), i(c, c, e.data_srcset, e.data_src), e.callback_set && e.callback_set(c)
        }, k.prototype._loopThroughElements = function () {
            var a, b, d = this._settings, e = this._elements, f = e ? e.length : 0, g = [];
            for (a = 0; f > a; a++) b = e[a], d.skip_invisible && null === b.offsetParent || c(b, d.container, d.threshold) && (d.show_while_loading ? this._showOnAppear(b) : this._showOnLoad(b), g.push(a), b.wasProcessed = !0);
            for (; g.length > 0;) e.splice(g.pop(), 1), d.callback_processed && d.callback_processed(e.length);
            0 === f && this._stopScrollHandler()
        }, k.prototype._purgeElements = function () {
            var a, b, c = this._elements, d = c.length, e = [];
            for (a = 0; d > a; a++) b = c[a], b.wasProcessed && e.push(a);
            for (; e.length > 0;) c.splice(e.pop(), 1)
        }, k.prototype._startScrollHandler = function () {
            this._isHandlingScroll || (this._isHandlingScroll = !0, a(this._settings.container, "scroll", this._handleScrollFn))
        }, k.prototype._stopScrollHandler = function () {
            this._isHandlingScroll && (this._isHandlingScroll = !1, b(this._settings.container, "scroll", this._handleScrollFn))
        }, k.prototype.handleScroll = function () {
            var a, b, c;
            this._settings && (b = d(), c = this._settings.throttle, 0 !== c ? (a = c - (b - this._previousLoopTime), 0 >= a || a > c ? (this._loopTimeout && (clearTimeout(this._loopTimeout), this._loopTimeout = null), this._previousLoopTime = b, this._loopThroughElements()) : this._loopTimeout || (this._loopTimeout = setTimeout(j(function () {
                this._previousLoopTime = d(), this._loopTimeout = null, this._loopThroughElements()
            }, this), a))) : this._loopThroughElements())
        }, k.prototype.update = function () {
            this._elements = f(this._queryOriginNode.querySelectorAll(this._settings.elements_selector)), this._purgeElements(), this._loopThroughElements(), this._startScrollHandler()
        }, k.prototype.destroy = function () {
            b(window, "resize", this._handleScrollFn), this._loopTimeout && (clearTimeout(this._loopTimeout), this._loopTimeout = null), this._stopScrollHandler(), this._elements = null, this._queryOriginNode = null, this._settings = null
        }, k
    });
    var onErrorBrand = function (e) {
        var a = e, t = a.parentNode
        if (null !== t) {
            var r = t.getElementsByClassName("label")
            if (r.length) r[0].className = r[0].className.replace("hidden", "")
            else {
                var l = document.createElement("span")
                l.className = "text label"
                var o = document.createTextNode(a.getAttribute("alt"))
                l.appendChild(o), t.appendChild(l)
            }
            t.removeChild(a)
        }
    }, brokenImage = function (e) {
        var a = e.target
        a.onerror = ""
        var t = a.getAttribute("data-error-callback"), r = a.getAttribute("data-placeholder")
        void 0 !== t && "function" == typeof window[t] && window[t](a), void 0 !== r && (a.src = window.store.imageDataStore.placeholderPath + r)
    }
    var oshLazyOnload = function (t) {
        "undefined" != typeof trackingProductImpressions && t.target.hasAttribute("data-sku") && trackingProductImpressions.add(t.target), "undefined" != typeof trackingPromotionImpressions && (trackingPromotionImpressions.add(t.target, "data-banner", "banner"), trackingPromotionImpressions.add(t.target, "data-banner-slider", "slider"))
    };
    var oshLazy = new LazyLoad({
        threshold: 500,
        elements_selector: "img.lazy",
        throttle: 250,
        data_src: "src",
        show_while_loading: !0,
        skip_invisible: !0,
        class_loaded: "-loaded",
        callback_set: function (e) {
            e.onload = oshLazyOnload, e.onerror = brokenImage
        }
    });
    loadCSS("https://www.jumia.co.ke/css/desktop/pages/checkout/checkout.ac215a41b9.css");
    $LAB.script("https://www.jumia.co.ke/scripts/common_desktop.a040645eb8.js").wait().script("https://www.jumia.co.ke/scripts/checkout-payment_desktop.ffcdf5c878.js").wait(function () {
        jsEventsCb.forEach(function (cb) {
            cb();
        });
    });
</script>
<div id="bottom_banner"></div>
<div id="popup_banner"></div>
<script type="text/javascript">window.NREUM || (NREUM = {});
NREUM.info = {
    "beacon": "bam-cell.nr-data.net",
    "licenseKey": "b76de0635f",
    "applicationID": "1747264",
    "transactionName": "NVxXYhMHChFYVUELDQwWdkMSEgsPFllbBxIDXlBVCQMHCVZDQU0SA0BYUw8SSwtXUlAaQh4ZUVMSDRANSQ==",
    "queueTime": 0,
    "applicationTime": 183,
    "atts": "GRtAFFsdGU4bVxdYGR9E",
    "errorBeacon": "bam-cell.nr-data.net",
    "agent": ""
}</script>
</body>
</html>
