{% extends 'myaccount/acountdetails.html' %}
{% load static %}
{% block content %}
    <div class="page-title-wrapper">
            <h1 class="page-title">
                <span class="base" data-ui-id="page-title-wrapper">My Wish List</span></h1>
        </div>
        <a id="contentarea" tabindex="-1"></a>
        <div class="page messages">
            <div data-placeholder="messages"></div>
            <div data-bind="scope: 'messages'">
                <div aria-atomic="true" role="alert" class="messages">
                    <div>
                        <div ></div>
                    </div>
                </div>
            </div>
        </div>
    <div class="column main">
        <input name="form_key" type="hidden" value="slju1uCpLcQu4dGX"/>
        <div id="authenticationPopup">
        </div>
        <div class="toolbar wishlist-toolbar">
            <div class="pager">
                <p class="toolbar-amount">
                    <span class="toolbar-number">1 Item </span>
                </p>
                <div class="limiter">
                    <strong class="limiter-label">Show</strong>
                    <select id="limiter" class="limiter-options">
                        <option value="https://mageblueskytech.com/dukamarket/en3/wishlist/?limit=10"
                                selected="selected">
                            10
                        </option>
                        <option value="https://mageblueskytech.com/dukamarket/en3/wishlist/?limit=20">
                            20
                        </option>
                        <option value="https://mageblueskytech.com/dukamarket/en3/wishlist/?limit=50">
                            50
                        </option>
                    </select>
                    <span class="limiter-text">per page</span>
                </div>
            </div>
        </div>
        <form class="form-wishlist-items" id="wishlist-view-form"  action="" method="post">
            <input name="form_key" type="hidden" value="slju1uCpLcQu4dGX"/>
            <div class="products-grid wishlist">
                <ol class="product-items">
                    <li data-row="product-item" class="product-item" id="item_48">
                        <div class="product-item-info" data-container="product-grid">
                            <a class="product-item-photo" tabindex="-1"
                               href="https://mageblueskytech.com/dukamarket/en3/samsung-galaxy-international-version.html?qty=1"
                               title="Samsung&#x20;Galaxy&#x20;International&#x20;Vs">
                                <span class="product-image-container product-image-container-41987381815">
                                <span class="product-image-wrapper">
                                <img class="product-image-photo"
                                     src="https://mageblueskytech.com/dukamarket/static/version1620877543/frontend/bluesky/bluesky_dukamarket_digital_03/en_US/Rokanthemes_OptimizeSpeed/images/load_defaut.png"
                                     data-src="https://mageblueskytech.com/dukamarket/media/catalog/product/cache/718f152a4fc92a424805f589d2ef8e2a/1/4/14.jpg"
                                     loading="lazy" width="500" height="500" alt="Samsung&#x20;Galaxy&#x20;International&#x20;Vs"/></span>
                                </span>
                                <style>.product-image-container-41987381815 {
                                    width: 500px;
                                }

                                .product-image-container-41987381815 span.product-image-wrapper {
                                    padding-bottom: 100%;
                                }</style>
                            </a>
                            <strong class="product-item-name">
                                <a href="#" title="Samsung&#x20;Galaxy&#x20;International&#x20;Vs" class="product-item-link">
                                    Samsung Galaxy International Vs
                                </a>
                            </strong>
                            <div class="product-reviews-summary short">
                                <div class="rating-summary">
                                    <span class="label"><span>Rating:</span></span>
                                    <div class="rating-result" title="60%">
                                        <span style="width:60%"><span>60%</span></span>
                                    </div>
                                </div>
                                <div class="reviews-actions">
                                    <a class="action view">1<span>Review</span></a>
                                </div>
                            </div>
                            <div class="price-box price-configured_price" data-role="priceBox" data-product-id="4"
                                 data-price-box="product-id-4"><p class="price-as-configured">
                                <span class="price-container price-configured_price&#x20;tax&#x20;weee">
                                <span id="product-price-4" data-price-amount="70" data-price-type="finalPrice" class="price-wrapper ">
                                    <span class="price">$70.00</span>
                                </span>
                                </span>
                            </p>
                            </div>
                            <div class="product-item-inner">
                                <div class="field comment-box">
                                    <label class="label" for="product-item-comment-48">
                                        <span>Comment</span>
                                    </label>
                                    <div class="control">
                                        <textarea id="product-item-comment-48" placeholder="Comment" name="description[48]" title="Comment" class="product-item-comment"></textarea>
                                    </div>
                                </div>
                                <div class="box-tocart">
                                    <fieldset class="fieldset">
                                        <div class="field qty">
                                            <label class="label" for="qty[48]"><span>Qty</span></label>
                                            <div class="control">
                                                <input type="number" data-role="qty" id="qty[48]" class="input-text qty" name="qty[48]" value="1">
                                            </div>
                                        </div>
                                        <div class="product-item-actions">
                                            <div class="actions-primary">
                                                <button type="button" data-role="tocart" title="Add&#x20;to&#x20;Cart" data-item-id="48"
                                                        class="action tocart primary">
                                                    <span>Add to Cart</span>
                                                </button>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="product-item-actions">
                                    <a class="action edit" href="#">
                                        <span>Edit</span>
                                    </a>
                                    <a href="#" data-role="remove" title="Remove&#x20;Item" class="btn-remove action delete">
                                        <span>Remove item</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ol>
            </div>
            <div class="actions-toolbar">
                <div class="primary">
                    <button type="submit" name="do" title="Update&#x20;Wish&#x20;List" class="action update">
                        <span>Update Wish List</span>
                    </button>
                    <button type="submit" name="save_and_share" title="Share&#x20;Wish&#x20;List" class="action share">
                        <span>Share Wish List</span>
                    </button>
                    <button type="button" data-role="all-tocart" title="Add&#x20;All&#x20;to&#x20;Cart"
                            class="action tocart">
                        <span>Add All to Cart</span>
                    </button>
                </div>
                <div class="secondary">
                    <a href="https://mageblueskytech.com/dukamarket/en3/customer/account/" class="action back">
                        <span>Back</span>
                    </a>
                </div>
            </div>
        </form>
        <script id="form-tmpl" type="text/x-magento-template">
            <form id="wishlist-hidden-form" method="post" action="<%- data.url %>" class="no-display">
                <% if (data.qty) { %>
                <input name="qty" value="<%- data.qty %>">
                <% } %>

                <% if (data.item) { %>
                <input name="item" value="<%- data.item %>">
                <% } %>

                <% if (data.entity) { %>
                <input name="entity" value="<%- data.entity %>">
                <% } %>
            </form>
        </script>
        <div class="toolbar wishlist-toolbar"><br>
            <div class="pager">
                <p class="toolbar-amount">
                    <span class="toolbar-number">1 Item </span>
                </p>
                <div class="limiter">
                    <strong class="limiter-label">Show</strong>
                    <select id="limiter" data-mage-init='{"redirectUrl": {"event":"change"}}' class="limiter-options">
                        <option value="https://mageblueskytech.com/dukamarket/en3/wishlist/?limit=10"
                                selected="selected">
                            10
                        </option>
                        <option value="https://mageblueskytech.com/dukamarket/en3/wishlist/?limit=20">
                            20
                        </option>
                        <option value="https://mageblueskytech.com/dukamarket/en3/wishlist/?limit=50">
                            50
                        </option>
                    </select>
                    <span class="limiter-text">per page</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}