<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="title" content="About us"/>
    <meta name="robots" content="INDEX,FOLLOW"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="format-detection" content="telephone=no"/>
    <title>About us</title>
    {% include 'managestatic/css.html' %}
        {% block base_head %}{% endblock %}
</head>
<body data-container="body"
      data-mage-init='{"loaderAjax": {}, "loader": { "icon": "https://mageblueskytech.com/dukamarket/static/version1625037054/frontend/bluesky/bluesky_dukamarket_digital_03/en_US/images/loader-2.gif"}}'
      id="html-body" class="bluesky-page-preloader cms-about-us cms-page-view page-layout-1column">

 {% include 'managestatic/nav_bar.html' %}
    <div class="breadcrumbs">
        <ul class="items">
            <li class="item home">
                <a href="https://mageblueskytech.com/dukamarket/en3/" title="Go to Home Page">
                    Home </a>
            </li>
            <li class="item cms_page">
                <strong>About us</strong>
            </li>
        </ul>
    </div>
    <main id="maincontent" class="page-main"><a id="contentarea" tabindex="-1"></a>
        <div class="page messages">
            <div data-placeholder="messages"></div>
            <div data-bind="scope: 'messages'">
                <!-- ko if: cookieMessages && cookieMessages.length > 0 -->
                <div aria-atomic="true" role="alert" data-bind="foreach: { data: cookieMessages, as: 'message' }"
                     class="messages">
                    <div data-bind="attr: {
            class: 'message-' + message.type + ' ' + message.type + ' message',
            'data-ui-id': 'message-' + message.type
        }">
                        <div data-bind="html: $parent.prepareMessageForHtml(message.text)"></div>
                    </div>
                </div>
                <!-- /ko -->
                <!-- ko if: messages().messages && messages().messages.length > 0 -->
                <div aria-atomic="true" role="alert" class="messages" data-bind="foreach: {
        data: messages().messages, as: 'message'
    }">
                    <div data-bind="attr: {
            class: 'message-' + message.type + ' ' + message.type + ' message',
            'data-ui-id': 'message-' + message.type
        }">
                        <div data-bind="html: $parent.prepareMessageForHtml(message.text)"></div>
                    </div>
                </div>
                <!-- /ko -->
            </div>
        </div>
        <div class="columns">
            <div class="column main"><input name="form_key" type="hidden" value="BSLWLVfgVLeONjff"/>
                <div id="authenticationPopup" data-bind="scope:'authenticationPopup', style: {display: 'none'}">
                    <!-- ko template: getTemplate() --><!-- /ko -->
                </div>
                <section class="full-width">
                    <div class="banner-about-top absolute-content"><img
                            src="https://mageblueskytech.com/dukamarket/static/version1625037054/frontend/bluesky/bluesky_dukamarket_digital_03/en_US/Rokanthemes_OptimizeSpeed/images/load_defaut.png"
                            data-src="https://mageblueskytech.com/dukamarket/media/wysiwyg/banner-about-us.jpg" alt="">
                        <div class="content">
                            <h1 class="size-60 regular" style="text-align: center;"><span style="color: #ffffff;">About Us</span>
                            </h1>
                            <p style="text-align: center;"><span style="color: #ddd;">A wonderful serenity has taken possession of my entire soul, like these<br>sweet mornings of spring which I enjoy with my whole heart.</span>
                            </p>
                            <div class="action-more flex-layout no-wrap" style="text-align: center;"><a class="btn"
                                                                                                        title="View more"
                                                                                                        href="#">View
                                more</a><a class="btn" style="background-color: #fff; color: #222;" title="See project"
                                           href="#">See project</a></div>
                        </div>
                    </div>
                </section>
                <section class="about-top container-min">
                    <div class="row">
                        <div class="about-left col-md-7">
                            <h5 class="color_primary size-14 uppercase" style="text-align: left;">About Our Online
                                Store</h5>
                            <h2 class="size-36 light margin_bottom_0">Hello,</h2>
                            <h2 class="size-36">With 25+ Years Of Experience</h2>
                            <p class="size-18"><span style="color: #222; line-height: 2;">"Over 25 years Dukamarket helping companies reach their <br>financial and branding goals.</span>
                            </p>
                            <p style="line-height: 2;">The perfect way to enjoy brewing tea on low hanging fruit to
                                identify. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
                                consequat, vel illum dolore eu feugiat nulla facilisis. For me, the most important part
                                of improving at photography. The perfect way to enjoy brewing tea on low hanging fruit
                                to identify. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
                                molestie consequat.</p>
                        </div>
                        <div class="about-right col-sm-5 d-none d-md-block">
                            <div><img
                                    src="https://mageblueskytech.com/dukamarket/static/version1625037054/frontend/bluesky/bluesky_dukamarket_digital_03/en_US/Rokanthemes_OptimizeSpeed/images/load_defaut.png"
                                    data-src="https://mageblueskytech.com/dukamarket/media/wysiwyg/banner-about-us1.png"
                                    alt=""></div>
                        </div>
                    </div>
                </section>
                <section class="section how-it-work section full-width" style="background: #f3f5f6; padding: 6rem 0;">
                    <div class="container-min">
                        <div class="title-block">
                            <h5 class="color_primary uppercase size-14  margin_0" style="text-align: center;">How it
                                works</h5>
                            <h2 class="size-36" style="text-align: center;">Complete Customer Ideas</h2>
                            <p style="text-align: center;">The perfect way to enjoy brewing tea on low hanging fruit to
                                identify. Duis autem vel eum iriure dolor in hendrerit<br>in vulputate velit esse
                                molestie consequat, vel illum dolore eu feugiat nulla facilisis.</p>
                        </div>
                        <div class="owl-carousel owl-theme" data-items="3" data-bigdesktop="3" data-smalldesktop="3"
                             data-bigtablet="3" data-tablet="3" data-smalltablet="2" data-mobile="1" data-margin="30"
                             data-loop="true" data-center="false" data-stagepadding="" data-nav="false" data-navnext=""
                             data-navprev="" data-dots="true" data-autoplay="false">
                            <div class="col-content">
                                <div class="flex-layout no-wrap space-between center_vertical">
                                    <p>
                                        <img src="https://mageblueskytech.com/dukamarket/static/version1625037054/frontend/bluesky/bluesky_dukamarket_digital_03/en_US/Rokanthemes_OptimizeSpeed/images/load_defaut.png"
                                             data-src="https://mageblueskytech.com/dukamarket/media/wysiwyg/icon-about-1.png"
                                             alt=""></p>
                                    <p class="size-80">01</p>
                                </div>
                                <h3 class="size-18" style="text-align: left;">Admin Verify Details</h3>
                                <p style="text-align: left;">Sed ut perspiciatis unde omnis iste natus error<br>sit
                                    accusantium doloremque laudantium totam<br>rem aperiam, eaqueipsa quae veritatis.
                                </p>
                            </div>
                            <div class="col-content">
                                <div class="flex-layout no-wrap space-between center_vertical">
                                    <p>
                                        <img src="https://mageblueskytech.com/dukamarket/static/version1625037054/frontend/bluesky/bluesky_dukamarket_digital_03/en_US/Rokanthemes_OptimizeSpeed/images/load_defaut.png"
                                             data-src="https://mageblueskytech.com/dukamarket/media/wysiwyg/icon-about-2.png"
                                             alt=""></p>
                                    <p class="size-80">02</p>
                                </div>
                                <h3 class="size-18" style="text-align: left;">Send The Solution</h3>
                                <p style="text-align: left;">Sed ut perspiciatis unde omnis iste natus error<br>sit
                                    accusantium doloremque laudantium totam<br>rem aperiam, eaqueipsa quae veritatis.
                                </p>
                            </div>
                            <div class="col-content">
                                <div class="flex-layout no-wrap space-between center_vertical">
                                    <p>
                                        <img src="https://mageblueskytech.com/dukamarket/static/version1625037054/frontend/bluesky/bluesky_dukamarket_digital_03/en_US/Rokanthemes_OptimizeSpeed/images/load_defaut.png"
                                             data-src="https://mageblueskytech.com/dukamarket/media/wysiwyg/icon-about-3.png"
                                             alt=""></p>
                                    <p class="size-80">03</p>
                                </div>
                                <h3 class="size-18" style="text-align: left;">Complete Profile</h3>
                                <p style="text-align: left;">Sed ut perspiciatis unde omnis iste natus error<br>sit
                                    accusantium doloremque laudantium totam<br>rem aperiam, eaqueipsa quae veritatis.
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="setcion creative  container-min">
                    <div class="title-block">
                        <h5 class="color_primary uppercase size-14  margin_0" style="text-align: center;">TECHNOLOGY
                            INDEX</h5>
                        <h2 class="size-36" style="text-align: center;">Let’s Get Creative</h2>
                        <p style="text-align: center;">The perfect way to enjoy brewing tea on low hanging fruit to
                            identify. Duis autem vel eum iriure dolor in hendrerit<br>in vulputate velit esse molestie
                            consequat, vel illum dolore eu feugiat nulla facilisis.</p>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="col-img"><img
                                    src="https://mageblueskytech.com/dukamarket/static/version1625037054/frontend/bluesky/bluesky_dukamarket_digital_03/en_US/Rokanthemes_OptimizeSpeed/images/load_defaut.png"
                                    data-src="https://mageblueskytech.com/dukamarket/media/wysiwyg/banner-about-us-2.jpg"
                                    alt=""></div>
                            <div class="col-content">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="flex-layout">
                                            <div class="img"><img
                                                    src="https://mageblueskytech.com/dukamarket/static/version1625037054/frontend/bluesky/bluesky_dukamarket_digital_03/en_US/Rokanthemes_OptimizeSpeed/images/load_defaut.png"
                                                    data-src="https://mageblueskytech.com/dukamarket/media/wysiwyg/icon-about-4.png"
                                                    alt=""></div>
                                            <h2 class="margin_0">8262+</h2>
                                        </div>
                                        <h3 class="size-18">Active Clients</h3>
                                        <p>Sed ut perspiciatis unde omnis iste natus<br>sit accusantium doloremque
                                            laudantium totam.</p>
                                    </div>
                                    <div class="col-6">
                                        <div class="flex-layout">
                                            <div class="img"><img
                                                    src="https://mageblueskytech.com/dukamarket/static/version1625037054/frontend/bluesky/bluesky_dukamarket_digital_03/en_US/Rokanthemes_OptimizeSpeed/images/load_defaut.png"
                                                    data-src="https://mageblueskytech.com/dukamarket/media/wysiwyg/icon-about-4.png"
                                                    alt=""></div>
                                            <h2 class="margin_0">4268+</h2>
                                        </div>
                                        <h3 class="size-18">Projects Done</h3>
                                        <p>Sed ut perspiciatis unde omnis iste natus<br>sit accusantium doloremque
                                            laudantium totam.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-img"><img
                                    src="https://mageblueskytech.com/dukamarket/static/version1625037054/frontend/bluesky/bluesky_dukamarket_digital_03/en_US/Rokanthemes_OptimizeSpeed/images/load_defaut.png"
                                    data-src="https://mageblueskytech.com/dukamarket/media/wysiwyg/banner-about-us-3.jpg"
                                    alt=""></div>
                            <div class="col-content">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="flex-layout">
                                            <div class="img"><img
                                                    src="https://mageblueskytech.com/dukamarket/static/version1625037054/frontend/bluesky/bluesky_dukamarket_digital_03/en_US/Rokanthemes_OptimizeSpeed/images/load_defaut.png"
                                                    data-src="https://mageblueskytech.com/dukamarket/media/wysiwyg/icon-about-4.png"
                                                    alt=""></div>
                                            <h2 class="margin_0">643+</h2>
                                        </div>
                                        <h3 class="size-18">Team Advisors</h3>
                                        <p>Sed ut perspiciatis unde omnis iste natus<br>sit accusantium doloremque
                                            laudantium totam.</p>
                                    </div>
                                    <div class="col-6">
                                        <div class="flex-layout">
                                            <div class="img"><img
                                                    src="https://mageblueskytech.com/dukamarket/static/version1625037054/frontend/bluesky/bluesky_dukamarket_digital_03/en_US/Rokanthemes_OptimizeSpeed/images/load_defaut.png"
                                                    data-src="https://mageblueskytech.com/dukamarket/media/wysiwyg/icon-about-4.png"
                                                    alt=""></div>
                                            <h2 class="margin_0">269k</h2>
                                        </div>
                                        <h3 class="size-18">Users Online</h3>
                                        <p>Sed ut perspiciatis unde omnis iste natus<br>sit accusantium doloremque
                                            laudantium totam.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section our-team section full-width" style="background: #f3f5f6; padding: 6rem 0;">
                    <div class="container-min">
                        <div class="title-block">
                            <h5 class="color_primary uppercase size-14  margin_0" style="text-align: center;">THE
                                TEAM</h5>
                            <h2 class="size-36" style="text-align: center;">Meet Our Team</h2>
                            <p style="text-align: center;">The perfect way to enjoy brewing tea on low hanging fruit to
                                identify. Duis autem vel eum iriure dolor in hendrerit<br>in vulputate velit esse
                                molestie consequat, vel illum dolore eu feugiat nulla facilisis.</p>
                        </div>
                        <div class="owl-carousel owl-theme" data-items="3" data-bigdesktop="3" data-smalldesktop="3"
                             data-bigtablet="3" data-tablet="3" data-smalltablet="2" data-mobile="1" data-margin="30"
                             data-loop="true" data-center="false" data-stagepadding="" data-nav="false" data-navnext=""
                             data-navprev="" data-dots="true" data-autoplay="false">
                            <div class="col-content" style="text-align: center;">
                                <div class="border-radius border-3"><img
                                        style="display: block; margin-left: auto; margin-right: auto;"
                                        src="https://mageblueskytech.com/dukamarket/static/version1625037054/frontend/bluesky/bluesky_dukamarket_digital_03/en_US/Rokanthemes_OptimizeSpeed/images/load_defaut.png"
                                        data-src="https://mageblueskytech.com/dukamarket/media/wysiwyg/team1.png"
                                        alt=""></div>
                                <div class="col-infor" style="text-align: center;">
                                    <h5 class="size-14 uppercase margin_0">John Doe</h5>
                                    <p><span style="color: #999999;">CEO &amp; Pounder</span></p>
                                    <p>Sed ut perspiciatis unde omnis iste<br>natus error sitaccusantium doloremque
                                        laudan<br>totam rem aperiam.</p>
                                </div>
                            </div>
                            <div class="col-content" style="text-align: center;">
                                <div class="border-radius border-3" style="text-align: center;"><img
                                        style="display: block; margin-left: auto; margin-right: auto;"
                                        src="https://mageblueskytech.com/dukamarket/static/version1625037054/frontend/bluesky/bluesky_dukamarket_digital_03/en_US/Rokanthemes_OptimizeSpeed/images/load_defaut.png"
                                        data-src="https://mageblueskytech.com/dukamarket/media/wysiwyg/team2.png"
                                        alt=""></div>
                                <div class="col-infor">
                                    <h5 class="size-14 uppercase margin_0">Youngly</h5>
                                    <p><span style="color: #999999;">Finace Manager</span></p>
                                    <p>Sed ut perspiciatis unde omnis iste<br>natus error sitaccusantium doloremque
                                        laudan<br>totam rem aperiam.</p>
                                </div>
                            </div>
                            <div class="col-content">
                                <div class="border-radius border-3" style="text-align: center;"><img
                                        style="display: block; margin-left: auto; margin-right: auto;"
                                        src="https://mageblueskytech.com/dukamarket/static/version1625037054/frontend/bluesky/bluesky_dukamarket_digital_03/en_US/Rokanthemes_OptimizeSpeed/images/load_defaut.png"
                                        data-src="https://mageblueskytech.com/dukamarket/media/wysiwyg/team3.png"
                                        alt=""></div>
                                <div class="col-infor">
                                    <h5 class="size-14 uppercase margin_0" style="text-align: center;">Erenteam</h5>
                                    <p style="text-align: center;"><span style="color: #999999;">Design Manager</span>
                                    </p>
                                    <p style="text-align: center;">Sed ut perspiciatis unde omnis iste<br>natus error
                                        sitaccusantium doloremque laudan<br>totam rem aperiam.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section connect margin_0">
                    <div class="container-min">
                        <div class="title-block">
                            <h5 class="color_primary uppercase size-14  margin_0" style="text-align: center;">location
                                store</h5>
                            <h2 class="size-36" style="text-align: center;">Where We Are</h2>
                            <p style="text-align: center;">The perfect way to enjoy brewing tea on low hanging fruit to
                                identify. Duis autem vel eum iriure dolor in hendrerit<br>in vulputate velit esse
                                molestie consequat, vel illum dolore eu feugiat nulla facilisis.</p>
                        </div>
                        <div class="owl-carousel owl-theme" data-items="4" data-bigdesktop="4" data-smalldesktop="3"
                             data-bigtablet="3" data-tablet="3" data-smalltablet="2" data-mobile="1" data-margin="30"
                             data-loop="true" data-center="false" data-stagepadding="" data-nav="false" data-navnext=""
                             data-navprev="" data-dots="true" data-autoplay="false">
                            <div class="col-content"><img
                                    src="https://mageblueskytech.com/dukamarket/static/version1625037054/frontend/bluesky/bluesky_dukamarket_digital_03/en_US/Rokanthemes_OptimizeSpeed/images/load_defaut.png"
                                    data-src="https://mageblueskytech.com/dukamarket/media/wysiwyg/about-store-1.png"
                                    alt="">
                                <div class="top">
                                    <h4 class="size-16">92 Rue Pelleport - Paris</h4>
                                </div>
                                <p>Adress: 116 Example Street 68, Mahattan<br>Phone: (+800) 123 456 7891<br>Email: <a
                                        href="/cdn-cgi/l/email-protection" class="__cf_email__"
                                        data-cfemail="35544758545b5c54755258545c591b565a58">[email&#160;protected]</a>
                                </p>
                            </div>
                            <div class="col-content"><img
                                    src="https://mageblueskytech.com/dukamarket/static/version1625037054/frontend/bluesky/bluesky_dukamarket_digital_03/en_US/Rokanthemes_OptimizeSpeed/images/load_defaut.png"
                                    data-src="https://mageblueskytech.com/dukamarket/media/wysiwyg/about-store-2.png"
                                    alt="">
                                <div class="top">
                                    <h4 class="size-16">26 Stanley Rd - London</h4>
                                </div>
                                <p>Adress: 116 Example Street 68, Mahattan<br>Phone: (+800) 123 456 7891<br>Email: <a
                                        href="/cdn-cgi/l/email-protection" class="__cf_email__"
                                        data-cfemail="1776657a76797e7657707a767e7b3974787a">[email&#160;protected]</a>
                                </p>
                            </div>
                            <div class="col-content"><img
                                    src="https://mageblueskytech.com/dukamarket/static/version1625037054/frontend/bluesky/bluesky_dukamarket_digital_03/en_US/Rokanthemes_OptimizeSpeed/images/load_defaut.png"
                                    data-src="https://mageblueskytech.com/dukamarket/media/wysiwyg/about-store-3.png"
                                    alt="">
                                <div class="top">
                                    <h4 class="size-16">32 Prospect Heights - New York</h4>
                                </div>
                                <p>Adress: 116 Example Street 68, Mahattan<br>Phone: (+800) 123 456 7891<br>Email: <a
                                        href="/cdn-cgi/l/email-protection" class="__cf_email__"
                                        data-cfemail="2647544b47484f4766414b474f4a0845494b">[email&#160;protected]</a>
                                </p>
                            </div>
                            <div class="col-content"><img
                                    src="https://mageblueskytech.com/dukamarket/static/version1625037054/frontend/bluesky/bluesky_dukamarket_digital_03/en_US/Rokanthemes_OptimizeSpeed/images/load_defaut.png"
                                    data-src="https://mageblueskytech.com/dukamarket/media/wysiwyg/about-store-2.png"
                                    alt="">
                                <div class="top">
                                    <h4 class="size-16">86 Georgia Rd - Turkey</h4>
                                </div>
                                <p>Adress: 116 Example Street 68, Mahattan<br>Phone: (+800) 123 456 7891<br>Email: <a
                                        href="/cdn-cgi/l/email-protection" class="__cf_email__"
                                        data-cfemail="6100130c000f080021060c00080d4f020e0c">[email&#160;protected]</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </main>
    {% include 'managestatic/footer.html' %}

<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script>
    var BASE_URL = 'https\u003A\u002F\u002Fmageblueskytech.com\u002Fdukamarket\u002Fen3\u002F';
    var require = {
        'baseUrl': 'https\u003A\u002F\u002Fmageblueskytech.com\u002Fdukamarket\u002Fstatic\u002Fversion1625037054\u002Ffrontend\u002Fbluesky\u002Fbluesky_dukamarket_digital_03\u002Fen_US'
    };</script>
<script type="text/javascript"
        src="https://mageblueskytech.com/dukamarket/static/version1625037054/_cache/merged/ed1a69c986914dcb7fdd08e739c805c8.min.js"></script>


<script>document.querySelector("#cookie-status").style.display = "none";</script>

<script>
    require(["jquery"], function ($) {
        function setCookie(name, value, days) {
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                var expires = "; expires=" + date.toGMTString();
            } else var expires = "";
            document.cookie = name + "=" + value + expires + "; path=/";
        }

        function getCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }

        $(document).ready(function () {
            if ($("body").hasClass("cms-index-index")) {
                if (getCookie("shownewsletter") != 1) {
                    var height_window = $(window).height();
                    var height_pupup = 600;
                    var fixed_height = (height_window - height_pupup) / 2;
                    var pPopup = $('#newsletter_pop_up').bPopup({
                        position: ['auto', fixed_height],
                        speed: 500,
                        transition: 'slideDown',
                        onClose: function () {
                        }
                    });
                    $('.newletter_popup_close').on('click', function () {
                        pPopup.close();
                    });
                }

                $("#newsletter_pop_up form").submit(function (event) {
                    setCookie("shownewsletter", '1', 1);
                });

                $('#newsletter_popup_dont_show_again').on('change', function () {
                    if (getCookie("shownewsletter") != 1) {
                        setCookie("shownewsletter", '1', 1)
                    } else {
                        setCookie("shownewsletter", '0', 1)
                    }
                });
            }
        });
    });
</script>
<script>
    require([
        'jquery',
        'rokanthemes/choose'
    ], function ($) {
        'use strict';
        $("#choose_category").chosen();
    });
</script>
<script>
    require([
        'jquery'
    ], function ($) {
        'use strict';
        $(document).ready(function () {
            $('.block-search .dropdown-toggle > .top-search').click(function (event) {
                $('.block-search #search_mini_form').slideToggle();
                $('#search-input-autocomplate').focus();
            });
        });
    });
</script>

<script>
    require(["jquery"], function ($) {
        require(["rokanthemes/lazyloadimg"], function (lazy) {
            $("img[data-src]").lazy({
                "bind": "event",
                "attribute": "data-src",
                visibleOnly: true,
                threshold: 0,
                enableThrottle: true,
                throttle: 500,
                afterLoad: function (element) {
                    $(element).addClass("lazy-loaded");
                    $(element).closest(".absolute-content-image").removeClass("lazyload-content");
                    setTimeout(function () {
                        $(element).addClass("transition");
                    }, 1000);
                }
            });
            $(document).ready(function ($) {
                var win = $(window);
                $(".owl-carousel").on("translated.owl.carousel", function (event) {
                    var bounds = $(this).offset();
                    var viewport = {
                        top: win.scrollTop(),
                        left: win.scrollLeft()
                    };
                    viewport.bottom = viewport.top + win.height();
                    if (viewport.bottom > bounds.top) {
                        $(this).find("img[data-src]").lazy({
                            "bind": "event",
                            delay: 0,
                            afterLoad: function (element) {
                                $(element).addClass("lazy-loaded");
                                $(element).closest(".absolute-content-image").removeClass("lazyload-content");
                                setTimeout(function () {
                                    $(element).addClass("transition");
                                }, 1000);
                            }
                        });
                    }
                });
                setTimeout(function () {
                    $("img[data-src]").each(function () {
                        if ($(this).is(":hidden")) {
                            var new_url = $(this).attr("data-src");
                            $(this).attr("src", new_url);
                            $(this).removeAttr("data-src");
                            $(this).addClass("lazy-loaded");
                            $(this).closest(".absolute-content-image").removeClass("lazyload-content");
                            setTimeout(function () {
                                $(this).addClass("transition");
                            }, 1000);
                        }
                    });
                }, 1000);
            });
        });
    });
</script>
</body>
</html>
