{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="title" content="patazone is an online marketplace selling different products from categories like, Electronics, Home and Office, Baby Products, Auto, Fashion, Beauty and so on. we provide excellent service on quality products. visit our store today at Ronald Ngala street RNG plaza Nairobi"
    />
    <meta name="robots" content="INDEX,FOLLOW" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="format-detection" content="telephone=no" />
    <title>Welcome to Patazone</title>



        {% include 'managestatic/css.html' %}
        {% block base_head %}{% endblock %}
            <link href="{% static 'assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css' %}" rel="stylesheet" type="text/css" />
              <link href="{% static 'js/system/toaster.css' %}" rel="stylesheet">
              <link href="{% static 'js/system/notification/lobibox.min.css' %}" rel="stylesheet">


  </head>
{#<div class="se-pre-con"></div>#}
  <body data-container="body" id="html-body" class="bluesky-page-preloader cms-bluesky_dukamarket_digital_03 cms-index-index page-layout-1column">

  {% include 'managestatic/nav_bar.html' %}


      <main id="maincontent" class="page-main" >
{#      {% include 'managestatic/menubarHorizontal.html' %}#}


          {% block content %}

          {% endblock content %}

      </main>
        {% include 'managestatic/footer.html' %}

        {% include 'managestatic/js.html' %}
        {% block javascript %}

        {% endblock %}

  </body>
</html>
