{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="title" content="patazone is an online marketplace selling different products from categories like, Electronics, Home and Office, Baby Products, Auto, Fashion, Beauty and so on. we provide excellent service on quality products. visit our store today at Ronald Ngala street RNG plaza Nairobi"
    />
    <meta name="robots" content="INDEX,FOLLOW" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="format-detection" content="telephone=no" />
    <title>Welcome to Patazone</title>
<link rel="stylesheet" type="text/css" media="all" href="https://mageblueskytech.com/dukamarket/static/version1620877543/_cache/merged/a12f8d2b164780fee452b4a5959a725f.min.css" />
        {% include 'managestatic/css.html' %}
        {% block base_head %}{% endblock %}

  </head>
{#<div class="se-pre-con"></div>#}
  <body data-container="body" id="html-body" class="bluesky-page-preloader cms-bluesky_dukamarket_digital_03 cms-index-index page-layout-1column">

  {% include 'managestatic/nav_bar.html' %}

      <main id="maincontent" class="page-main" >
      <div class="d-none d-lg-block">
                    <div class="section wrapper_sub_category_tabs container_horizontal_tab_postions onlyparent" id="category_thumb49095373">
                        <div class="category-thumb-section">
                            <div class="widget-tabs">
                                <div class="owl-carousel owl-theme list-category-item owl-loaded owl-drag" data-nav="false" data-dots="false" data-center="false" data-loop="false" data-bigdesktop="8" data-items="7" data-smalldesktop="5" data-bigtablet="5" data-tablet="4" data-smalltablet="4" data-mobile="2" data-margin="20">








                                <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1366px;"><div class="owl-item first-active-item active" style="width: 150.714px; margin-right: 20px;"><div class="item-load item-row">
                                        <div class="category-item"><a href="https://mageblueskytech.com/dukamarket/en2/computer-desktop.html" class="horizontal absolute-content-image">
                                            <figure><img alt="Computer &amp; Desktop" class="horizontal lazy-loaded transition" src="https://mageblueskytech.com/dukamarket/media/catalog/category/Laptop-_-computer.png" style="display: block;">
                                            </figure>
                                            <span class="thumb-infor">
                                            <span class="cate-name cate-count">
                                            <span>Computer &amp; Desktop</span>
                                            </span>
                                            </span>
                                        </a>
                                        </div>
                                    </div></div><div class="owl-item active" style="width: 150.714px; margin-right: 20px;"><div class="item-load item-row">
                                        <div class="category-item"><a href="https://mageblueskytech.com/dukamarket/en2/laptop-ipad.html" class="horizontal absolute-content-image">
                                            <figure><img alt="Tablets &amp; Mobile Phone" class="horizontal lazy-loaded transition" src="https://mageblueskytech.com/dukamarket/media/catalog/category/Mobile.png" style="display: block;">
                                            </figure>
                                            <span class="thumb-infor">
                                            <span class="cate-name cate-count">
                                            <span>Tablets &amp; Mobile Phone</span>
                                            </span>
                                            </span>
                                        </a>
                                        </div>
                                    </div></div><div class="owl-item active" style="width: 150.714px; margin-right: 20px;"><div class="item-load item-row">
                                        <div class="category-item"><a href="https://mageblueskytech.com/dukamarket/en2/sport-outdoors.html" class="horizontal absolute-content-image">
                                            <figure><img alt="Sport &amp; Outdoors" class="horizontal lazy-loaded transition" src="https://mageblueskytech.com/dukamarket/media/catalog/category/new-icon-update333.png" style="display: block;">
                                            </figure>
                                            <span class="thumb-infor">
                                            <span class="cate-name cate-count">
                                            <span>Sport &amp; Outdoors</span>
                                            </span>
                                            </span>
                                        </a>
                                        </div>
                                    </div></div><div class="owl-item active" style="width: 150.714px; margin-right: 20px;"><div class="item-load item-row">
                                        <div class="category-item"><a href="https://mageblueskytech.com/dukamarket/en2/health-beauty.html" class="horizontal absolute-content-image">
                                            <figure><img alt="Audio &amp; Headphones" class="horizontal lazy-loaded transition" src="https://mageblueskytech.com/dukamarket/media/catalog/category/Audio.png" style="display: block;">
                                            </figure>
                                            <span class="thumb-infor">
                                            <span class="cate-name cate-count">
                                            <span>Audio &amp; Headphones</span>
                                            </span>
                                            </span>
                                        </a>
                                        </div>
                                    </div></div><div class="owl-item active" style="width: 150.714px; margin-right: 20px;"><div class="item-load item-row">
                                        <div class="category-item"><a href="https://mageblueskytech.com/dukamarket/en2/watches-eyewear.html" class="horizontal absolute-content-image">
                                            <figure><img alt="Decor  &amp; Furniture" class="horizontal lazy-loaded transition" src="https://mageblueskytech.com/dukamarket/media/catalog/category/Decor.png" style="display: block;">
                                            </figure>
                                            <span class="thumb-infor">
                                            <span class="cate-name cate-count">
                                            <span>Decor &amp; Furniture</span>
                                            </span>
                                            </span>
                                        </a>
                                        </div>
                                    </div></div><div class="owl-item active" style="width: 150.714px; margin-right: 20px;"><div class="item-load item-row">
                                        <div class="category-item"><a href="https://mageblueskytech.com/dukamarket/en2/jewelry-watches.html" class="horizontal absolute-content-image">
                                            <figure><img alt="Fashion  &amp; Clothing" class="horizontal lazy-loaded transition" src="https://mageblueskytech.com/dukamarket/media/catalog/category/Fashion.png" style="display: block;">
                                            </figure>
                                            <span class="thumb-infor">
                                            <span class="cate-name cate-count">
                                            <span>Fashion &amp; Clothing</span>
                                            </span>
                                            </span>
                                        </a>
                                        </div>
                                    </div></div><div class="owl-item last-active-item active" style="width: 150.714px; margin-right: 20px;"><div class="item-load item-row">
                                        <div class="category-item"><a href="https://mageblueskytech.com/dukamarket/en2/laptop-ipad/electronics-computers.html" class="horizontal absolute-content-image">
                                            <figure><img alt="Electronics, Computers" class="horizontal lazy-loaded transition" src="https://mageblueskytech.com/dukamarket/media/catalog/category/digital_new_update_2.png" style="display: block;">
                                            </figure>
                                            <span class="thumb-infor">
                                            <span class="cate-name cate-count">
                                            <span>Electronics, Computers</span>
                                            </span>
                                            </span>
                                        </a>
                                        </div>
                                    </div></div><div class="owl-item" style="width: 150.714px; margin-right: 20px;"><div class="item-load item-row">
                                        <div class="category-item"><a href="https://mageblueskytech.com/dukamarket/en2/laptop-ipad/electronics-computers/camera-photo-video.html" class="horizontal absolute-content-image">
                                            <figure><img alt="Camera, Photo &amp; Video" class="horizontal lazy-loaded transition" src="https://mageblueskytech.com/dukamarket/media/catalog/category/Camera111.png" style="display: block;">
                                            </figure>
                                            <span class="thumb-infor">
                                            <span class="cate-name cate-count">
                                            <span>Camera, Photo &amp; Video</span>
                                            </span>
                                            </span>
                                        </a>
                                        </div>
                                    </div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev">Next</button><button type="button" role="presentation" class="owl-next">Prev</button></div><div class="owl-dots disabled"></div></div>
                            </div>
                        </div>
                    </div>
                </div>

          {% block content %}

          {% endblock content %}

      </main>
        {% include 'managestatic/footer.html' %}

        {% include 'managestatic/js.html' %}
        {% block javascript %}

        {% endblock %}

  </body>
</html>
